/* Video crop tool resizable. */
:host {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.crop-resizable {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.5);
  cursor: all-scroll;
  overflow: hidden;
  position: absolute;
}
:host ::ng-deep .resizable-handle-w {
  left: 0 !important;
}
:host ::ng-deep .resizable-handle-nw {
  border-color: rgb(255, 255, 255);
  border-left: 2px solid;
  border-top: 2px solid;
  left: 0 !important;
  top: 0 !important;
}
:host ::ng-deep .resizable-handle-n {
  top: 0 !important;
}
:host ::ng-deep .resizable-handle-ne {
  border-color: rgb(255, 255, 255);
  border-right: 2px solid;
  border-top: 2px solid;
  right: 0 !important;
  top: 0 !important;
}
:host ::ng-deep .resizable-handle-e {
  right: 0 !important;
}
:host ::ng-deep .resizable-handle-se {
  border-bottom: 2px solid;
  border-color: rgb(255, 255, 255);
  border-right: 2px solid;
  bottom: 0 !important;
  right: 0 !important;
}
:host ::ng-deep .resizable-handle-s {
  bottom: 0 !important;
}
:host ::ng-deep .resizable-handle-sw {
  border-bottom: 2px solid;
  border-color: rgb(255, 255, 255);
  border-left: 2px solid;
  bottom: 0 !important;
  left: 0 !important;
}

/* Video crop tool canvas. */
.crop-canvas {
  display: flex;
  flex-direction: column;
  padding: 4px 0;
}
.crop-canvas > *:not(:first-child) {
  margin-top: 8px;
}
.crop-canvas > div {
  display: flex;
}
.crop-canvas > div > *:not(:first-child) {
  margin-left: 8px;
}
.crop-canvas > div > div {
  align-items: center;
  display: flex;
}
.crop-canvas > div > div > *:not(:first-child) {
  margin-left: 8px;
}
.crop-canvas p {
  width: 14px;
}