/* Define theme colors. */
[data-theme="light"] :host {
  --path-border: rgb(144, 164, 184);
  --path-color: rgb(192, 202, 212);
}
[data-theme="dark"] :host {
  --path-border: rgb(28, 36, 44);
  --path-color: rgb(14, 18, 22);
}
[data-theme="slate"] :host {
  --path-border: rgb(36, 40, 58);
  --path-color: rgb(18, 22, 36);
}

/* General styling. */
:host ::ng-deep button {
  justify-content: center;
  width: 132px;
}

/* Missing FFmpeg dialog. */
.download-missing {
  text-align: center;
  width: 550px;
}
.download-missing > div,
.download-download > div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 24px;
  width: 100%;
}

/* Download FFmpeg dialog. */
.download-download > p {
  text-align: center;
}
.download-download span {
  background-color: var(--path-color);
  border: 1px solid var(--path-border);
  border-radius: 4px;
  padding: 4px 8px;
}

/* Downloading FFmpeg dialog. */
.download-downloading {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 4px 0;
  width: 150px;
}
.download-downloading > *:not(:first-child) {
  margin-top: 16px;
}
.download-downloading > img {
  height: 56px;
  width: 56px;
}