<!-- Missing FFmpeg dialog. -->
@if (download.downloadMissing()) {
  <vi-modal>
    <div [class]="'download-missing'">
      <p>{{ 'VIDEO_DOWNLOAD.MISSING' | translate }}</p>
      <div>
        <vi-button
          [buttonColor]="'success'"
          [buttonIcon]="'done'"
          [buttonText]="'VIDEO_SETTINGS.FFMPEG.DOWNLOAD.NAME' | translate"
          (click)="download.downloadUpdateDownload()" />
        <vi-button
          [buttonColor]="'primary'"
          [buttonIcon]="'settings'"
          [buttonText]="'VIDEO_PLAYER.SETTINGS' | translate"
          (click)="download.downloadUpdateMissing(true)" />
        <vi-button
          [buttonColor]="'secondary'"
          [buttonIcon]="'close'"
          [buttonText]="'GENERAL.CLOSE' | translate"
          (click)="download.downloadUpdateMissing()" />
      </div>
    </div>
  </vi-modal>
}
<!-- Download FFmpeg dialog. -->
@if (download.downloadDownload()) {
  <vi-modal>
    <div [class]="'download-download'">
      <p>{{ 'VIDEO_DOWNLOAD.DOWNLOAD' | translate }}
        <span>{{ settings.options.ffmpeg.filesPath() }}</span>
      </p>
      <div>
        <vi-button
          [buttonColor]="'success'"
          [buttonIcon]="'done'"
          [buttonText]="'VIDEO_SETTINGS.FFMPEG.DOWNLOAD.NAME' | translate"
          (click)="download.downloadStart()" />
        <vi-button
          [buttonColor]="'secondary'"
          [buttonIcon]="'close'"
          [buttonText]="'GENERAL.CANCEL' | translate"
          (click)="download.downloadUpdateDownload()" />
      </div>
    </div>
  </vi-modal>
}
<!-- Downloading FFmpeg dialog. -->
@if (download.downloadDownloading()) {
  <vi-modal>
    <div [class]="'download-downloading'">
      <vi-loading />
      @switch (download.downloadDownloading()) {
        @case (1) { <p>{{ 'VIDEO_DOWNLOAD.DOWNLOADING' | translate }} [1/2]</p> }
        @case (2) { <p>{{ 'VIDEO_DOWNLOAD.UNPACKING' | translate }} [2/2]</p> }
      }
    </div>
  </vi-modal>
}