/* Define theme colors. */
[data-theme="light"] :host {
  --path-border: rgb(144, 164, 184);
  --path-color: rgb(192, 202, 212);
}
[data-theme="dark"] :host {
  --path-border: rgb(28, 36, 44);
  --path-color: rgb(14, 18, 22);
}

/* General styling. */
:host ::ng-deep button {
  @apply justify-center w-[132px] !important;
}

/* Missing FFmpeg dialog. */
.download-missing {
  @apply text-center w-[550px];
}
.download-missing > div,
.download-download > div {
  @apply flex justify-evenly mt-6 w-full !important;
}

/* Download FFmpeg dialog. */
.download-download > p {
  @apply text-center;
}
.download-download span {
  @apply px-2 py-1 rounded;
  background-color: var(--path-color);
  border: 1px solid var(--path-border);
}

/* Downloading FFmpeg dialog. */
.download-downloading {
  @apply flex flex-col items-center py-1 space-y-4 w-[150px];
}
.download-downloading > img {
  @apply h-14 w-14;
}