/* Define theme colors. */
[data-theme="light"] :host {
  --select-border: rgb(144, 164, 184);
  --select-color: rgb(176, 186, 196);
  --select-icon: rgb(36, 42, 48);
  --select-input: rgb(192, 202, 212);
  --select-options: rgb(192, 202, 212);
}
[data-theme="dark"] :host {
  --select-border: rgb(28, 36, 44);
  --select-color: rgb(8, 12, 16);
  --select-icon: rgb(232, 238, 244);
  --select-input: rgb(14, 18, 22);
  --select-options: rgb(8, 12, 16);
}

/* Select container. */
:host {
  @apply relative w-full;
}
.select-container.disabled {
  @apply pointer-events-none opacity-50;
}

/* Select label. */
.select-container > label {
  @apply flex mb-1 ml-1 text-[15px];
}

/* Select input. */
.select-input {
  @apply cursor-pointer flex h-9 items-center relative w-full;
  background-color: var(--select-color);
  border: 1px solid var(--select-border);
  transition: background-color 0.2s, border-color 0.2s;
}
.select-input.closed {
  @apply rounded;
  background-color: var(--select-input);
}
.select-input.opened {
  @apply rounded-t;
}
.select-input.inverted {
  @apply rounded-b;
}
.select-input:hover {
  background-color: var(--select-color);
}
.select-input > input {
  @apply bg-transparent pl-3 pr-8 pointer-events-none text-base w-full;
}
.select-arrow {
  @apply absolute border-x-[5px] border-x-transparent pointer-events-none right-3;
  border-top: 5px solid var(--select-icon);
  transition: border-color 0.2s, transform 0.2s;
}
.select-arrow.opened {
  @apply rotate-180;
}

/* Select options. */
.select-options {
  @apply absolute overflow-hidden w-full z-50;
  background-color: var(--select-options);
  border: 1px solid var(--select-border);
}
.select-options.inverted {
  @apply border-b-0 rounded-t;
  transform: translateY(calc(-100% - 36px));
}
.select-options:not(.inverted) {
  @apply border-t-0 rounded-b;
}
.select-options > div {
  @apply h-full max-h-64 [overflow-y:overlay] w-full;
}