/* Define theme colors. */
[data-theme="light"] :host {
  --progress-border: rgb(144, 164, 184);
  --progress-color: rgb(192, 202, 212);
  --progress-fill: rgb(160, 170, 180);
  --progress-frame: rgb(60, 68, 76, 0.2);
  --progress-line: rgb(86, 96, 106);
}
[data-theme="dark"] :host {
  --progress-border: rgb(28, 36, 44);
  --progress-color: rgb(14, 18, 22);
  --progress-fill: rgb(8, 12, 16);
  --progress-frame: rgb(126, 136, 146, 0.2);
  --progress-line: rgb(232, 238, 244);
}
[data-theme="slate"] :host {
  --progress-border: rgb(36, 40, 58);
  --progress-color: rgb(18, 22, 36);
  --progress-fill: rgb(14, 16, 26);
  --progress-frame: rgb(126, 136, 156, 0.2);
  --progress-line: rgb(232, 238, 244);
}
:host {
  --progress-thumb: rgb(232, 238, 244);
}

/* Progress bar container. */
.progress-container {
  @apply flex pointer-events-none relative;
}
.progress-container > progress[value] {
  @apply appearance-none cursor-pointer h-2 w-full;
}
.progress-container > progress[value]::-webkit-progress-bar {
  background-color: var(--progress-color);
  border: 1px solid var(--progress-border);
  border-radius: 2px;
  transition: background-color 0.2s, border-color 0.2s;
}
.progress-container > progress[value]::-webkit-progress-value {
  background-color: var(--progress-fill);
  border-radius: 2px;
  transition: background-color 0.2s;
}

/* Progress bar thumb. */
.progress-thumb {
  @apply absolute h-4 -mt-1 w-2 z-30;
  background-color: var(--progress-thumb);
  border: 1px solid var(--progress-border);
  border-radius: 2px;
  transition: background-color 0.2s, border-color 0.2s;
}
.progress-thumb > div {
  @apply absolute pointer-events-none w-px;
  background-color: var(--progress-thumb);
  height: 60px;
  left: 3px;
  transition: background-color 0.2s;
}

/* Progress bar keyframes. */
.progress-frames > div {
  @apply absolute h-14 pointer-events-none w-px z-20;
  background-color: var(--progress-frame);
  transition: background-color 0.2s;
}

/* Progress bar thumbnails. */
.progress-thumbs {
  @apply absolute cursor-pointer h-6 -mt-3 w-full;
}
.progress-tooltip {
  @apply -mx-[9px] -my-[5px];
}
.progress-tooltip > img {
  @apply object-cover rounded-t-sm w-[120px];
}
.progress-tooltip > p {
  @apply my-2 px-3 text-center;
}

/* Progress bar hover line. */
.progress-line {
  @apply absolute h-[56px] pointer-events-none top-[50px] w-px z-40;
  background-color: var(--progress-line);
}