<!-- Recent file open error dialog. -->
@if (recent.recentOpen()) {
  <vi-modal>
    <div [class]="'recent-error'">
      <img [src]="'assets/images/save-error.svg'" />
      <p>{{ 'VIDEO_PLAYER.FILE_ERROR' | translate }}</p>
      <vi-button
        [buttonColor]="'danger'"
        [buttonIcon]="'close'"
        [buttonText]="'GENERAL.CLOSE' | translate"
        (click)="recent.recentUpdateOpen()" />
    </div>
  </vi-modal>
}
<!-- Recent files container. -->
@if (recent.recentFiles().length && settings.options.general.recentFiles()) {
  <div [class]="'recent-container'">
    <div>
      <h1>{{ 'VIDEO_PLAYER.RECENT' | translate }}</h1>
      <!-- Clear recent files list. -->
      <div [class]="'recent-clear'">
        <vi-button
          [buttonIcon]="'close'"
          [buttonIconClass]="'!h-6 my-0.5 !w-6'"
          [buttonText]="'GENERAL.CLEAR' | translate"
          (click)="recent.recentClearAll()" />
        <vi-button [dropdown]="clipSplit" [dropdownOffset]="[0, 8]" [dropdownPlace]="'bottom-end'">
          <div [class]="'recent-arrow'"></div>
        </vi-button>
      </div>
      <div #clipSplit>
        <button (click)="recent.recentClearAll()">{{ 'VIDEO_RECENT.CLEAR_ALL' | translate }}</button>
        <span></span>
        <button (click)="recent.recentClearDeleted()">{{ 'VIDEO_RECENT.CLEAR_DELETED' | translate }}</button>
      </div>
      <!-- Recent files list. -->
      <div [class]="'recent-list'">
        @for (file of recent.recentFiles(); track file) {
          <div [class]="'group'" (click)="recentFileOpen(file)">
            <div>
              <p>{{ file.name }}</p>
              <p>{{ file.path!.slice(0, -file.name!.length - 1) }}</p>
            </div>
            <div [class]="'group-hover:block hidden'">
              <a [style.maskImage]="'url(assets/images/close.svg)'"
                (click)="recent.recentFileRemove(file.path!); $event.stopPropagation();"></a>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
}