<ui-modal *ngIf="videoCompatible">
  <div class="segments-compatibility">
    <div>
      <p>{{ 'VIDEO_SEGMENTS.COMPATIBLE.FIRST' | translate }}</p>
      <p>{{ 'VIDEO_SEGMENTS.COMPATIBLE.SECOND' | translate }}</p>
    </div>
    <ui-button buttonColor="success" buttonIcon="done" (click)="$videoCompatible()">{{ 'GENERAL.OK' | translate }}</ui-button>
  </div>
</ui-modal>
<ui-modal *ngIf="videoIncompatible">
  <div class="segments-compatibility">
    <div>
      <p>{{ 'VIDEO_SEGMENTS.INCOMPATIBLE.FIRST' | translate }}</p>
      <p>{{ 'VIDEO_SEGMENTS.INCOMPATIBLE.SECOND' | translate }}</p>
    </div>
    <ui-button buttonColor="success" buttonIcon="done" (click)="$videoIncompatible()">{{ 'GENERAL.OK' | translate }}</ui-button>
  </div>
</ui-modal>
<div [hidden]="!videoSegments" class="segments-container">
  <p>{{ 'VIDEO_SEGMENTS.FILES_CLIPS' | translate }}</p>
  <div class="segments-files">
    <div *ngFor="let info of store.state.videoInfo; index as i">
      <div *ngIf="info.videoStreams" (click)="videoFileChange(i)" class="file" [class]="i == store.i ? 'bg-slate-800' : ''">
        <div class="file-title">
          <b>{{ i + 1 }} |</b>
          <p>{{ store.state.fileInfo[i].fileName }}</p>
        </div>
        <div class="file-info">
          <img [src]="store.state.fileInfo[i].fileThumb"/>
          <div>
            <p>{{ info.videoStreams[0].duration | duration }} - {{ info.videoStreams[0].size | filesize }}</p>
            <p>{{ info.videoStreams[1].coded_width }}x{{ info.videoStreams[1].coded_height }} @{{ info.videoStreams[1].r_frame_rate | expression }}fps</p>
            <p>{{ store.state.fileInfo[i].fileType }} ({{ info.videoStreams[1].codec_name + (info.videoStreams[1].codec_tag_string != '[0][0][0][0]' ? '/' + info.videoStreams[1].codec_tag_string : '') }})</p>
          </div>
        </div>
      </div>
      <div *ngFor="let clip of store.state.fileInfo[i].fileClips; index as k">
        <div (click)="videoClipChange(i, k)" class="clip"
          [ngStyle]="{ 'border-color': + k == store.state.fileInfo[i].fileIndex ? store.state.colorInfo[clip.color][500] : store.state.colorInfo[clip.color][900],
            'background-color': k == store.state.fileInfo[i].fileIndex ? store.state.colorInfo[clip.color][600] : store.state.colorInfo[clip.color][800] }"
          (mouseout)="$event.target.style.backgroundColor = k == store.state.fileInfo[i].fileIndex ? store.state.colorInfo[clip.color][600] : store.state.colorInfo[clip.color][800]"
          (mouseover)="$event.target.style.backgroundColor = k == store.state.fileInfo[i].fileIndex ? store.state.colorInfo[clip.color][600] : store.state.colorInfo[clip.color][700]">
          <div class="clip-title">
            <b>{{ k + 1 }} |</b>
            <p>{{ ((clip.end - clip.start) / store.state.videoInfo[i].videoFrameRate) | duration: true }} ({{ (clip.end - clip.start) | number: '1.0-0' }} frames)</p>
          </div>
          <p>{{ 'VIDEO_SEGMENTS.TIME' | translate }}: {{ (clip.start / store.state.videoInfo[i].videoFrameRate) | duration: true }} - {{ (clip.end / store.state.videoInfo[i].videoFrameRate) | duration: true }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="segments-buttons">
    <div>
      <ui-button buttonColor="dark" buttonIcon="add" [buttonTooltip]="'VIDEO_SEGMENTS.SEGMENT_ADD.' | translate" [dropdown]="segmentAdd"></ui-button>
      <div #segmentAdd>
        <span (click)="videoAdd.click()">{{ 'VIDEO_SEGMENTS.SEGMENT_ADD.FILE' | translate }}</span>
        <div class="tippy-separator"></div>
        <span (click)="videoClipAdd()">{{ 'VIDEO_SEGMENTS.SEGMENT_ADD.CLIP' | translate }}</span>
      </div>
      <ui-button buttonColor="dark" buttonIcon="remove" [buttonTooltip]="'VIDEO_SEGMENTS.SEGMENT_REMOVE.' | translate" [dropdown]="segmentRemove"></ui-button>
      <div #segmentRemove>
        <span (click)="videoFileRemove()">{{ 'VIDEO_SEGMENTS.SEGMENT_REMOVE.FILE' | translate }}</span>
        <div class="tippy-separator"></div>
        <span (click)="videoClipRemove()">{{ 'VIDEO_SEGMENTS.SEGMENT_REMOVE.CLIP' | translate }}</span>
      </div>
    </div>
    <div>
      <ui-button buttonColor="dark" buttonIcon="move" [buttonTooltip]="'VIDEO_SEGMENTS.SEGMENT_MOVE_UP.' | translate" [dropdown]="segmentMoveUp"></ui-button>
      <div #segmentMoveUp>
        <span (click)="videoFileMoveUp()">{{ 'VIDEO_SEGMENTS.SEGMENT_MOVE_UP.FILE' | translate }}</span>
        <div class="tippy-separator"></div>
        <span (click)="videoClipMoveUp()">{{ 'VIDEO_SEGMENTS.SEGMENT_MOVE_UP.CLIP' | translate }}</span>
      </div>
      <ui-button buttonColor="dark" buttonIcon="move" buttonIconClass="-scale-y-100" [buttonTooltip]="'VIDEO_SEGMENTS.SEGMENT_MOVE_DOWN.' | translate" [dropdown]="segmentMoveDown"></ui-button>
      <div #segmentMoveDown>
        <span (click)="videoFileMoveDown()">{{ 'VIDEO_SEGMENTS.SEGMENT_MOVE_DOWN.FILE' | translate }}</span>
        <div class="tippy-separator"></div>
        <span (click)="videoClipMoveDown()">{{ 'VIDEO_SEGMENTS.SEGMENT_MOVE_DOWN.CLIP' | translate }}</span>
      </div>
    </div>
  </div>
  <input #videoAdd hidden title="" type="file" (change)="videoFileAdd($event)" (click)="videoAdd.value = ''" />
</div>