<!-- Video segments container. -->
<div [class]="'segments-container'" [hidden]="!segments.segmentsOpen()">
  <p>{{ 'VIDEO_SEGMENTS.FILES_CLIPS' | translate }}</p>
  <!-- Video segments files. -->
  <div [class]="'segments-files'">
    @for (info of store.storeVideos(); track info; let i = $index) {
      <div>
        <!-- Video file information. -->
        @if (info.videoStreams.length) {
          <div [class]="'segments-file'" [class.selected]="i == store.storeIndex()" (click)="segments.fileIndex(i)">
            <div>
              <b>{{ i + 1 }} |</b>
              <p>{{ store.storeFiles()[i].fileName }}</p>
            </div>
            <div>
              <img [src]="store.storeFiles()[i].fileThumb"/>
              <div>
                <p>{{ info.videoStreams[0].duration | duration }} - {{ info.videoStreams[0].size | fileSize }}</p>
                <p>{{ info.videoStreams[1].coded_width }}x{{ info.videoStreams[1].coded_height }} {{'@'}}{{ info.videoStreams[1].r_frame_rate | frameRate }}fps</p>
                <p>{{ store.storeFiles()[i].fileType }} ({{ info.videoStreams[1].codec_name + (info.videoStreams[1].codec_tag_string != '[0][0][0][0]' ? '/' + info.videoStreams[1].codec_tag_string : '') }})</p>
              </div>
            </div>
          </div>
        }
        <!-- Video file clips. -->
        @for (clip of store.storeFiles()[i].fileClips(); track clip; let k = $index) {
          <div>
            <div [class]="'segments-clip'">
              <span
                [class.unselected]="k != store.storeFiles()[i].fileClipIndex()"
                [style.backgroundColor]="store.storeColors[clip.clipColor()][600]"
                [style.borderColor]="store.storeColors[clip.clipColor()][700]"
                (click)="segments.clipIndex(i, k)"></span>
              <div>
                <b>{{ k + 1 }} |</b>
                <p>{{ ((clip.clipEnd() - clip.clipStart()) / info.videoFrameRate) | duration: true }} ({{ (clip.clipEnd() - clip.clipStart()) | number: '1.0-0' }} frames)</p>
              </div>
              <p>{{ 'VIDEO_SEGMENTS.TIME' | translate }}: {{ (clip.clipStart() / info.videoFrameRate) | duration: true }} - {{ (clip.clipEnd() / info.videoFrameRate) | duration: true }}</p>
            </div>
          </div>
        }
      </div>
    }
  </div>
  <!-- Video segments buttons. -->
  <div [class]="'segments-buttons'">
    <div>
      <vi-button
        [buttonColor]="'darker'"
        [buttonIcon]="'add'"
        [buttonTooltip]="'VIDEO_SEGMENTS.SEGMENT_ADD.' | translate"
        [dropdown]="segmentAdd" />
      <div #segmentAdd>
        <button (click)="videoAdd.click()">{{ 'VIDEO_SEGMENTS.SEGMENT_ADD.FILE' | translate }}</button>
        <span></span>
        <button (click)="segments.clipAdd()">{{ 'VIDEO_SEGMENTS.SEGMENT_ADD.CLIP' | translate }}</button>
      </div>
      <vi-button
        [buttonColor]="'darker'"
        [buttonIcon]="'remove'"
        [buttonTooltip]="'VIDEO_SEGMENTS.SEGMENT_REMOVE.' | translate"
        [dropdown]="segmentRemove" />
      <div #segmentRemove>
        <button (click)="fileRemove()">{{ 'VIDEO_SEGMENTS.SEGMENT_REMOVE.FILE' | translate }}</button>
        <span></span>
        <button (click)="segments.clipRemove()">{{ 'VIDEO_SEGMENTS.SEGMENT_REMOVE.CLIP' | translate }}</button>
      </div>
    </div>
    <div>
      <vi-button
        [buttonColor]="'darker'"
        [buttonIcon]="'move'"
        [buttonTooltip]="'VIDEO_SEGMENTS.SEGMENT_MOVE_UP.' | translate"
        [dropdown]="segmentMoveUp" />
      <div #segmentMoveUp>
        <button (click)="segments.fileUp()">{{ 'VIDEO_SEGMENTS.SEGMENT_MOVE_UP.FILE' | translate }}</button>
        <span></span>
        <button (click)="segments.clipUp()">{{ 'VIDEO_SEGMENTS.SEGMENT_MOVE_UP.CLIP' | translate }}</button>
      </div>
      <vi-button
        [buttonColor]="'darker'"
        [buttonIcon]="'move'"
        [buttonIconClass]="'-scale-y-100'"
        [buttonTooltip]="'VIDEO_SEGMENTS.SEGMENT_MOVE_DOWN.' | translate"
        [dropdown]="segmentMoveDown" />
      <div #segmentMoveDown>
        <button (click)="segments.fileDown()">{{ 'VIDEO_SEGMENTS.SEGMENT_MOVE_DOWN.FILE' | translate }}</button>
        <span></span>
        <button (click)="segments.clipDown()">{{ 'VIDEO_SEGMENTS.SEGMENT_MOVE_DOWN.CLIP' | translate }}</button>
      </div>
    </div>
  </div>
  <!-- Add/open video files -->
  <input #videoAdd
    [hidden]="true"
    [multiple]="true"
    [title]="''"
    [type]="'file'"
    (change)="load.filesLoadInit($event.target.files)"
    (click)="videoAdd.value = ''" />
</div>