/* Define theme colors. */
[data-theme="light"] :host {
  --groupbox-border: rgb(160, 170, 180);
  --groupbox-color: rgb(222, 232, 242);
  --groupbox-text: rgb(86, 96, 106);
}
[data-theme="dark"] :host {
  --groupbox-border: rgb(36, 42, 48);
  --groupbox-color: rgb(22, 28, 34);
  --groupbox-text: rgb(126, 136, 146);
}
[data-theme="slate"] :host {
  --groupbox-border: rgb(60, 66, 84);
  --groupbox-color: rgb(28, 36, 52);
  --groupbox-text: rgb(126, 136, 156);
}

/* Groupbox container. */
.groupbox-container {
  border: 1px solid var(--groupbox-border);
  border-radius: 4px;
  padding: 12px;
  position: relative;
  transition: border-color 0.2s;
}

/* Groupbox label. */
.groupbox-label {
  display: flex;
  margin-bottom: 8px;
}
.groupbox-label > label {
  background-color: var(--groupbox-color);
  color: var(--groupbox-text);
  padding: 0 8px;
  position: absolute;
  top: -12px;
  transition: background-color 0.2s, color 0.2s;
}
.groupbox-label.left > label {
  left: 16px;
}
.groupbox-label.right > label {
  right: 16px;
}