/* Define theme colors. */
[data-theme="light"] {
  --tooltip-border: rgb(22, 28, 34);
  --tooltip-color: rgb(14, 18, 22);
  --tooltip-text: rgb(232, 238, 244);
}
[data-theme="dark"],
[data-theme="slate"] {
  --tooltip-border: rgb(144, 164, 184);
  --tooltip-color: rgb(232, 238, 244);
  --tooltip-text: rgb(22, 28, 34);
}
[data-theme='tooltip'] {
  --input-border: rgb(144, 164, 184);
  --input-color: rgb(22, 28, 34);
}

/* Tooltip. */
.tippy-box[data-theme='tooltip'] {
  background-color: var(--tooltip-color);
}
.tippy-box[data-theme='tooltip'] .tippy-arrow::before {
  transform: scale(0.75);
}
.tippy-box[data-theme='tooltip'][data-placement^=top] .tippy-arrow:before {
  border-top-color: var(--tooltip-color);
}
.tippy-box[data-theme='tooltip'][data-placement^=bottom] .tippy-arrow:before {
  border-bottom-color: var(--tooltip-color);
}
.tippy-box[data-theme='tooltip'][data-placement^=left] .tippy-arrow:before {
  border-left-color: var(--tooltip-color);
}
.tippy-box[data-theme='tooltip'][data-placement^=right] .tippy-arrow:before {
  border-right-color: var(--tooltip-color);
}

/* Tooltip text. */
.tippy-box[data-theme='tooltip'] .tippy-content,
.tippy-box[data-theme='tooltip'] .tippy-content p {
  color: var(--tooltip-text);
}

/* Tooltip icons. */
.tippy-box[data-theme='tooltip'] .tippy-content a {
  background-color: var(--tooltip-text);
}

/* Tooltip input. */
.tippy-box[data-theme='tooltip'] .tippy-content input[type="number"],
.tippy-box[data-theme='tooltip'] .tippy-content input[type="text"],
.tippy-box[data-theme='tooltip'] .tippy-content input[type="time"] {
  border: 1px solid var(--input-border);
  border-radius: 4px;
  color: var(--input-color);
  height: 28px;
  padding: 4px;
  width: 80px;
}