/* Define theme colors. */
[data-theme="light"] :host {
  --option-text: rgb(60, 68, 76);
}
[data-theme="dark"] :host {
  --option-text: rgb(126, 136, 146);
}
[data-theme="slate"] :host {
  --option-text: rgb(126, 136, 156);
}

/* Option group label. */
.option-group-label {
  color: var(--option-text);
  display: flex;
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0;
  padding: 0 16px;
}