/* Define theme colors. */
[data-theme="light"] :host {
  --option-text: rgb(60, 68, 76);
}
[data-theme="dark"] :host {
  --option-text: rgb(126, 136, 146);
}
[data-theme="slate"] :host {
  --option-text: rgb(126, 136, 156);
}

/* Option group label. */
.option-group-label {
  @apply flex my-2 px-5 text-sm;
  color: var(--option-text);
}