<!-- Video frame capture dialog. -->
<vi-modal [modalHidden]="!capture.captureOpen()">
  <!-- Video frame capture container. -->
  <div [class]="'capture-container'">
    <!-- Video frame capture buttons. -->
    <div [class]="'capture-buttons'">
      <vi-button
        [buttonColor]="'success'"
        [buttonIcon]="'done'"
        [buttonText]="'VIDEO_SAVE.EXPORT' | translate"
        (click)="capture.captureFrame()" />
      <vi-button
        [buttonColor]="'secondary'"
        [buttonIcon]="'close'"
        [buttonText]="'GENERAL.CANCEL' | translate"
        (click)="capture.captureUpdateOpen()" />
    </div>
    <!-- Video frame capture output box. -->
    <vi-groupbox [groupboxLabel]="'VIDEO_SAVE.OUTPUT' | translate">
      <div [class]="'capture-output'">
        <vi-input
          [inputLabel]="'VIDEO_SAVE.PATH' | translate"
          [(inputValue)]="capture.captureOutput" />
        <vi-button
          [buttonColor]="'dark'"
          [buttonIcon]="'more'"
          (click)="capture.captureUpdateOutput()" />
      </div>
    </vi-groupbox>
  </div>
</vi-modal>