/* Video frame capture container. */
.capture-container {
  align-items: center;
  display: flex;
}

/* Video frame capture buttons. */
.capture-buttons {
  display: flex;
  flex-direction: column;
  width: 110px;
}
.capture-buttons > *:not(:first-child) {
  margin-top: 16px;
}
:host ::ng-deep .capture-buttons button {
  width: 100%;
}

/* Video frame capture output box. */
.capture-output {
  display: flex;
}
:host ::ng-deep vi-groupbox:has(.capture-output) {
  margin: 4px 0 0 16px;
}
:host ::ng-deep .capture-output vi-button {
  align-items: flex-end;
  display: flex;
  margin-left: 8px;
  padding-bottom: 8px;
}
:host ::ng-deep .capture-output vi-button a {
  height: 18px !important;
  margin: 0 3px;
  width: 18px !important;
}
:host ::ng-deep .capture-output vi-input {
  width: 500px;
}