/* Define theme colors. */
[data-theme="light"] :host {
  --command-border: rgb(160, 170, 180);
  --command-color: rgb(192, 202, 212);
  --commands-border: rgb(160, 170, 180);
  --commands-color: rgb(208, 218, 228);
  --saving-icon: rgb(36, 42, 48);
  --separator-color: rgb(160, 170, 180);
  --status-lossless: rgb(0, 160, 60);
  --status-lossy: rgb(220, 38, 38);
  --status-mixed: rgb(230, 160, 10);
  --title-active: rgb(232, 238, 244);
  --title-color: rgb(60, 68, 76);
}
[data-theme="dark"] :host {
  --command-border: rgb(18, 24, 30);
  --command-color: rgb(14, 18, 22);
  --commands-border: rgb(22, 28, 34);
  --commands-color: rgb(8, 12, 16);
  --saving-icon: rgb(232, 238, 244);
  --separator-color: rgb(36, 42, 48);
  --status-lossless: rgb(34, 198, 94);
  --status-lossy: rgb(240, 68, 68);
  --status-mixed: rgb(250, 204, 22);
  --title-active: rgb(232, 238, 244);
  --title-color: rgb(126, 136, 146);
}
[data-theme="slate"] :host {
  --command-border: rgb(22, 26, 40);
  --command-color: rgb(18, 22, 36);
  --commands-border: rgb(36, 40, 58);
  --commands-color: rgb(14, 16, 26);
  --saving-icon: rgb(232, 238, 244);
  --separator-color: rgb(60, 66, 84);
  --status-lossless: rgb(34, 198, 94);
  --status-lossy: rgb(240, 68, 68);
  --status-mixed: rgb(250, 204, 22);
  --title-active: rgb(232, 238, 244);
  --title-color: rgb(126, 136, 156);
}

/* Video save container. */
.save-container {
  @apply flex space-x-4;
}

/* Video save side panel. */
.save-side {
  @apply flex flex-col justify-between mb-3 mt-1 [&_b]:ml-1;
}
.save-side > div {
  @apply flex flex-col space-y-4;
}
.save-side > div > span {
  @apply flex justify-around -mb-2;
}
:host ::ng-deep .save-side > div > vi-button > button {
  @apply w-full;
}
.save-separator {
  @apply h-px w-full;
  background-color: var(--separator-color);
}

/* Video save status. */
.save-status {
  color: var(--status-lossless);
}
.save-status.lossy {
  color: var(--status-lossy);
}
.save-status.mixed {
  color: var(--status-mixed);
}

/* Video save options panel. */
.save-options {
  @apply gap-x-4 gap-y-5 grid grid-cols-2 grid-rows-2 mt-1;
}
.save-section {
  @apply flex flex-col space-y-3 w-[320px];
}
.save-section > div {
  @apply flex space-x-2;
}
:host ::ng-deep .save-section vi-button {
  @apply flex items-end [&_button]:w-max;
}
.save-output {
  @apply flex space-x-2;
}
:host ::ng-deep .save-output vi-button {
  @apply flex items-end pb-2;
}
:host ::ng-deep .save-output vi-button a {
  height: 18px !important;
  margin-left: 3px;
  margin-right: 3px;
  width: 18px !important;
}
:host ::ng-deep .save-output vi-input {
  @apply w-full;
}

/* Manual editing dialog. */
.save-edit {
  @apply flex h-[490px] space-x-4;
}

/* Manual editing commands name. */
.save-commands {
  @apply flex flex-col items-center min-w-[150px] space-y-4;
}
.save-command {
  @apply h-full overflow-y-auto rounded w-full;
  background-color: var(--commands-color);
  border: 1px solid var(--commands-border);
}
.save-command > div {
  border-bottom: 1px solid var(--command-border);
  border-left-width: 6px;
}
.save-command > div > div  {
  @apply cursor-pointer flex items-center pl-2 pr-3 py-2 space-x-2 [&>div]:whitespace-nowrap;
  transition: background-color 0.2s;
}
.save-command > div > div:hover,
.save-command > div > div.selected  {
  background-color: var(--command-color);
}
.save-commands > div.save-buttons {
  @apply flex flex-col space-y-2 w-[110px];
}
:host ::ng-deep .save-commands > div.save-buttons > vi-button > button {
  @apply w-full;
}

/* Manual editing commands contents. */
.save-contents {
  @apply h-full [overflow-y:overlay] rounded w-[600px];
  background-color: var(--commands-color);
  border: 1px solid var(--commands-border);
}
.save-contents > div {
  border-left-width: 6px;
}
.save-contents > div > div {
  @apply cursor-default px-3 py-2 text-sm;
  color: var(--title-color);
  border-bottom: 1px solid var(--command-border);
  transition: background-color 0.2s, color 0.2s;
}
.save-contents > div > div.selected {
  color: var(--title-active);
}
:host ::ng-deep .save-contents vi-textarea > textarea {
  border-bottom: 1px solid var(--command-border);
}
:host ::ng-deep .save-contents vi-textarea.selected > textarea {
  background-color: var(--command-color);
}

/* Video saving dialog. */
.save-saving {
  @apply flex items-center justify-center pt-1 min-w-[200px];
}
.save-saving a {
  @apply block h-14 w-14;
  background-color: var(--saving-icon);
}
.save-saving p {
  @apply mt-6 text-center;
}
.save-saving > div {
  @apply flex flex-col items-center justify-center;
}
.save-saving .save-buttons {
  @apply flex justify-evenly mt-6 space-x-4 w-full;
}
.save-saving .save-buttons.cancel {
  @apply pointer-events-none;
}
:host ::ng-deep .save-saving .save-buttons vi-button > button {
  @apply justify-center min-w-[124px];
}
.save-error {
  @apply max-h-[50vh] max-w-[430px] mt-4 overflow-auto p-4 rounded w-full whitespace-nowrap;
  background-color: var(--commands-color);
  border: 1px solid var(--commands-border);
}