<ui-modal *ngIf="videoSave.videoSave">
  <div *ngIf="store.state.fileInfo.fileLoaded" class="save-container">
    <div class="save-scaler">
      <div class="w-[300px]">
        <ui-input [inputLabel]="'VIDEO_SAVE.SCALER.WIDTH' | translate" inputType="number" [(inputValue)]="filters.filterInfo.filterWidth" (inputUpdated)="videoScalerWidth($event)"></ui-input>
        <ui-input [inputLabel]="'VIDEO_SAVE.SCALER.HEIGHT' | translate" inputType="number" [(inputValue)]="filters.filterInfo.filterHeight" (inputUpdated)="videoScalerHeight($event)"></ui-input>
        <ui-button buttonColor="dark" [buttonIcon]="videoScaler.videoLock ? 'lock' : 'unlock'" [buttonToggle]="videoScaler.videoLock" (click)="videoScalerLock()"></ui-button>
      </div>
      <div>
        <div class="w-[122px]">
          <ui-select [selectLabel]="'VIDEO_SAVE.SCALER.SCALE' | translate" [(selectValue)]="videoScaler.videoScale" (selectClick)="videoScalerScale($event)">
            <div *ngFor="let s of $videoScaler.scale; index as i">
              <ui-option *ngIf="i == 0 && videoScaler.videoScale == 0" [optionLabel]="s.text" [optionValue]="s.value"></ui-option>
              <ui-option *ngIf="i > 0" [optionLabel]="s.text" [optionSelected]="i == 1" [optionValue]="s.value"></ui-option>
            </div>
          </ui-select>
        </div>
        <div class="w-[170px]">
          <ui-select [selectLabel]="'VIDEO_SAVE.SCALER.ASPECT_RATIO' | translate" [(selectValue)]="videoScaler.videoRatio" (selectClick)="videoScalerRatio($event)">
            <div *ngFor="let a of $videoScaler.ratio; index as i">
              <ui-option *ngIf="i == 0 && videoScaler.videoRatio == 0" [optionLabel]="a.text" [optionValue]="a.value"></ui-option>
              <ui-option *ngIf="i > 0" [optionLabel]="a.text" [optionSelected]="i == 1" [optionValue]="a.value"></ui-option>
            </div>
          </ui-select>
        </div>
      </div>
      <div class="w-[300px]">
        <ui-select [selectLabel]="'VIDEO_SAVE.SCALER.ALGORITHM' | translate" [(selectValue)]="filters.filterInfo.filterAlgorithm">
          <div *ngFor="let s of $videoScaler.algorithm; index as i">
            <ui-option [optionLabel]="s.text" [optionSelected]="i == 0" [optionValue]="s.value"></ui-option>
          </div>
        </ui-select>
      </div>
    </div>
    <div class="save-output w-[310px]">
      <ui-select [selectLabel]="'VIDEO_SAVE.OUTPUT.FORMAT' | translate" [(selectValue)]="videoOutput.videoFormat" (selectUpdate)="videoOutputFormat($event)">
        <ui-option-group *ngIf="videoFormat as f" [optionLabel]="'VIDEO_SAVE.OUTPUT.DETECTED' | translate">
          <ui-option [optionValue]="f" [optionSelected]="true" [optionLabel]="f.extensions[0] + ' | ' + f.name"></ui-option>
        </ui-option-group>
        <ui-option-group *ngIf="videoFormats.length > 0" [optionLabel]="'VIDEO_SAVE.OUTPUT.CONTAINERS' | translate">
          <div *ngFor="let f of videoFormats">
            <ui-option [optionValue]="f" [optionLabel]="f.extensions[0] + ' | ' + f.name"></ui-option>
          </div>
        </ui-option-group>
      </ui-select>
      <ui-select *ngIf="videoOutput.videoFormat" [selectLabel]="'GENERAL.CODEC' | translate" [(selectValue)]="videoOutput.videoCodec">
        <ui-option-group *ngIf="videoCodec as c" [optionLabel]="'VIDEO_SAVE.OUTPUT.DETECTED' | translate">
          <ui-option [optionValue]="c" [optionSelected]="true" [optionLabel]="c.code + ' | ' + c.name"></ui-option>
        </ui-option-group>
        <ui-option-group *ngIf="videoCodecs.length > 0" [optionLabel]="'VIDEO_SAVE.OUTPUT.CODECS' | translate">
          <div *ngFor="let c of videoCodecs">
            <ui-option [optionValue]="c" [optionLabel]="c.code + ' | ' + c.name"></ui-option>
          </div>
        </ui-option-group>
      </ui-select>
      <ui-select *ngIf="videoOutput.videoCodec as c" [selectLabel]="'VIDEO_SAVE.OUTPUT.ENCODER' | translate" [(selectValue)]="videoOutput.videoEncoder">
        <ui-option-group [optionLabel]="'VIDEO_SAVE.OUTPUT.DEFAULT' | translate">
          <ui-option *ngIf="c" [optionValue]="c.encoders[0]" [optionSelected]="true" [optionLabel]="c.encoders[0]"></ui-option>
        </ui-option-group>
        <ui-option-group *ngIf="c.encoders.length > 1" [optionLabel]="'VIDEO_SAVE.OUTPUT.ENCODERS' | translate">
          <div *ngFor="let e of c.encoders; index as i">
            <ui-option *ngIf="i != 0" [optionValue]="e" [optionLabel]="e"></ui-option>
          </div>
        </ui-option-group>
      </ui-select>
    </div>
  </div>
  <div class="save-buttons">
    <ui-button buttonColor="primary" buttonIcon="done" (click)="videoSaveFile()">{{ 'VIDEO_SAVE.EXPORT' | translate }}</ui-button>
    <ui-button buttonColor="secondary" buttonIcon="close" (click)="$videoSave(true)">{{ 'VIDEO_SAVE.CANCEL' | translate }}</ui-button>
  </div>
</ui-modal>
<ui-modal *ngIf="videoSave.videoSaving || videoSave.videoSaved">
  <div class="save-saving">
    <div *ngIf="videoSave.videoSaving">
      <p>{{ 'VIDEO_SAVE.SAVE.SAVING' | translate }}</p>
    </div>
    <div *ngIf="!videoSave.videoSaving">
      <div *ngIf="!videoSave.videoErrorText">
        <p>{{ 'VIDEO_SAVE.SAVE.SAVE_OK' | translate }}</p>
      </div>
      <div *ngIf="videoSave.videoErrorText">
        <p>{{ 'VIDEO_SAVE.SAVE.SAVE_ERROR' | translate }}</p>
      </div>
      <div class="save-buttons">
        <ui-button *ngIf="videoSave.videoErrorText" buttonColor="danger" buttonIcon="list" (click)="videoSaveError()">{{ 'VIDEO_SAVE.ERROR_LOG' | translate }}</ui-button>
        <ui-button [buttonColor]="videoSave.videoErrorText ? 'secondary' : 'success'" [buttonIcon]="videoSave.videoErrorText ? 'close' : 'done'"
          (click)="videoSaveDone()">{{ (videoSave.videoErrorText ? 'VIDEO_SAVE.CLOSE' : 'VIDEO_SAVE.OK') | translate }}</ui-button>
      </div>
      <div *ngIf="videoSave.videoErrorView" class="save-error">
        <span [innerText]="videoSave.videoErrorText"></span>
      </div>
    </div>
  </div>
</ui-modal>