/* Define theme colors. */
[data-theme="light"] :host {
  --input-border: rgb(144, 164, 184);
  --input-color: rgb(192, 202, 212);
  --input-hover: rgb(176, 186, 196);
  --input-icon: rgb(36, 42, 48);
}
[data-theme="dark"] :host {
  --input-border: rgb(28, 36, 44);
  --input-color: rgb(14, 18, 22);
  --input-hover: rgb(8, 12, 16);
  --input-icon: rgb(232, 238, 244);
}
[data-theme="slate"] :host {
  --input-border: rgb(36, 40, 58);
  --input-color: rgb(22, 26, 40);
  --input-hover: rgb(14, 16, 26);
  --input-icon: rgb(232, 238, 244);
}

/* Input container. */
.input-container.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.input-container > div {
  align-items: center;
  display: flex;
  position: relative;
}

/* Input label. */
.input-container > label {
  display: flex;
  font-size: 15px;
  margin: 0 0 4px 4px;
}

/* Input element. */
.input-element > input {
  background-color: var(--input-color);
  border: 1px solid var(--input-border);
  border-radius: 4px;
  cursor: text;
  display: flex;
  height: 36px;
  padding: 0 12px;
  transition: background-color 0.2s, border-color 0.2s;
  width: 100%;
}
.input-element > input:hover {
  background-color: var(--input-hover);
}
.input-element > input[type=number]::-webkit-inner-spin-button,
.input-element > input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Input arrows. */
.input-arrows {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1px;
}
.input-arrows > div {
  align-items: center;
  display: flex;
  height: 17px;
  justify-content: center;
  transition: background-color 0.2s;
  width: 24px;
}
.input-arrows > div:hover {
  background-color: var(--input-hover);
}
.input-arrows > div:first-child {
  border-top-right-radius: 4px;
}
.input-arrows > div:first-child > div {
  margin-top: 2px;
  transform: rotate(180deg);
}
.input-arrows > div:last-child {
  border-bottom-right-radius: 4px;
}
.input-arrows > div:last-child > div {
  margin-bottom: 2px;
}
.input-arrows > div > div {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--input-icon);
  position: absolute;
  transition: border-color 0.2s;
}