<div id="playerEdit" class="player-edit">
  <div id="playerContainer" class="player-video" [class]="store.state.fileInfo.filePath ? 'flex' : 'hidden'">
    <video id="playerVideo" [muted]="true" [src]="store.state.fileInfo.filePath" (loadedmetadata)="$videoFileLoaded()"
      (timeupdate)="$videoPlayerProgress()"></video>
    <div id="playerCrop" [hidden]="!filters.filterInfo.filterCrop" class="resizable"></div>
  </div>
  <div *ngIf="!store.state.fileInfo.filePath" class="player-file">
    <img [src]="'/assets/open.svg'">
    <input type="file" (change)="videoFileOpen($event)" />
  </div>
</div>
<div class="player-controls" [class]="!store.state.fileInfo.filePath ? 'pointer-events-none' : ''">
  <div class="player-buttons">
    <div>
      <button (click)="videoPlayerPlay()">
        <img [src]="playerInfo.playerVideo.paused || playerInfo.playerVideo.ended ? '/assets/play.svg' : '/assets/pause.svg'">
      </button>
      <button (click)="videoPlayerStop()">
        <img [src]="'/assets/stop.svg'">
      </button>
      <button (click)="videoPlayerMute()">
        <img [src]="playerInfo.playerVideo.muted || playerInfo.playerVideo.volume == 0 ? '/assets/mute.svg' : '/assets/volume.svg'">
      </button>
    </div>
    <div>
      <button (click)="$videoInfo.$videoInfo()">
        <img [src]="'/assets/list.svg'">
      </button>
      <button [class]="filters.filterInfo.filterClear ? 'active' : ''" (click)="videoFilterClear()">
        <img [src]="'/assets/clear.svg'">
      </button>
      <button (click)="videoFilterRotate(false)">
        <img [src]="'/assets/rotate.svg'" class="-scale-x-100">
      </button>
      <button (click)="videoFilterRotate(true)">
        <img [src]="'/assets/rotate.svg'">
      </button>
      <button [class]="filters.filterInfo.filterCrop ? 'active' : ''" (click)="videoFilterCrop()">
        <img [src]="'/assets/crop.svg'">
      </button>
      <button (click)="videoSave.videoSaveFile()">
        <img [src]="'/assets/done.svg'">
      </button>
      <button (click)="videoFileClose()">
        <img [src]="'/assets/close.svg'">
      </button>
    </div>
  </div>
  <progress id="playerProgress" min="0" value="0" (mouseup)="videoPlayerProgress($event)"></progress>
</div>
<video-info #videoInfo *ngIf="store.state.fileInfo.fileLoaded" (loaded)="videoFileLoaded(videoInfo)"></video-info>
<video-save #videoSave></video-save>