<!-- Video player loading dialog. -->
@if (load.filesLoadState() == 'converting' || load.filesLoadState() == 'loading') {
  <vi-modal>
    <div [class]="'player-loading'">
      <div>
        <vi-loading [loadingTheme]="'light'" />
        @if (store.storeFiles()[store.storeFiles().length - 1]) {
          <img [src]="store.storeFiles()[store.storeFiles().length - 1].fileThumb" />
        }
      </div>
      <p>{{ (load.filesLoadState() == 'converting' ? 'VIDEO_PLAYER.CONVERTING' : 'VIDEO_PLAYER.LOADING') | translate: { current: this.load.filesLoadTotal() - this.load.filesLoadList().length, total: this.load.filesLoadTotal() } }}</p>
    </div>
  </vi-modal>
}
<!-- Video player message dialog. -->
@if (load.filesLoadText()) {
  <vi-modal>
    <div [class]="'player-message'">
      <p>{{ load.filesLoadText() }}</p>
      <div>
        @switch (load.filesLoadText()) {
          @case ('VIDEO_PLAYER.FILE_MESSAGE.KEYFRAMES' | translate) {
            <vi-button
              [buttonColor]="'success'"
              [buttonIcon]="'done'"
              [buttonText]="'GENERAL.OK' | translate"
              (click)="load.filesLoadText.set('')" />
          }
          @case ('VIDEO_PLAYER.FILE_MESSAGE.NOT_VALID' | translate) {
            <vi-button
              [buttonColor]="'danger'"
              [buttonIcon]="'close'"
              [buttonText]="'GENERAL.CLOSE' | translate"
              (click)="load.filesLoadText.set(''); load.filesLoadNext()" />
          }
          @default {
            <vi-button
              [buttonColor]="'secondary'"
              [buttonIcon]="'close'"
              [buttonText]="'GENERAL.CANCEL' | translate"
              (click)="load.filesLoadText.set(''); load.filesLoadNext()" />
            <vi-button
              [buttonColor]="'success'"
              [buttonIcon]="'done'"
              [buttonText]="'GENERAL.PROCEED' | translate"
              (click)="load.filesLoadConvert()" />
          }
        }
      </div>
    </div>
  </vi-modal>
}
<!-- Video file compatibility dialog. -->
@if (load.filesLoadState() == 'loaded' && load.fileCompat().length) {
  <vi-modal>
    <div [class]="'player-compatibility'">
      <!-- Lossy concatenation compatibility message. -->
      @if (load.fileCompat().includes('lossyConcat')) {
        <div>
          <p>{{ 'VIDEO_SEGMENTS.COMPATIBILITY.LOSSY_CONCAT' | translate }}</p>
        </div>
      }
      <!-- Separator. -->
      @if (load.fileCompat().includes('lossyConcat') && load.fileCompat().includes('noConcat')) { <span></span> }
      <!-- No concatenation compatibility message. -->
      @if (load.fileCompat().includes('noConcat')) {
        <div>
          <p>{{ 'VIDEO_SEGMENTS.COMPATIBILITY.NO_CONCAT' | translate }}</p>
        </div>
      }
      <vi-button
        [buttonColor]="'success'"
        [buttonIcon]="'done'"
        [buttonText]="'GENERAL.OK' | translate"
        (click)="load.fileCompat.set([])" />
    </div>
  </vi-modal>
}
<!-- Video player container. -->
<div [class]="'player-container'">
  <div id="playerEdit" [class]="'player-edit'" [class.segments]="segments.segmentsOpen()">
    <!-- Video player contents. -->
    <div id="playerContents" [class]="'player-contents'" [class.loaded]="load.filesLoadState() == 'loaded'">
      <!-- Video player video player. -->
      <div id="playerVideo" [class]="'player-video'">
        @for (file of store.storeFiles(); track file) {
          <video
            [hidden]="load.filesLoadState() == 'loading' || $index != store.storeIndex()"
            [muted]="false"
            (loadedmetadata)="load.filesLoaded($event)"
            (timeupdate)="null">
            <source [src]="'file://' + file.fileTemp + 'video.mp4'" />
            <source [src]="'file://' + file.filePath" />
          </video>
        }
      </div>
      <!-- Video player crop tool. -->
      <video-crop id="playerCrop" />
    </div>
    <!-- Video player extra controls. -->
    <div [class]="'player-extra'" [style.display]="segments.segmentsOpen() ? 'flex' : 'none'">
      <!-- Player extra controls. -->
      <div [style.display]="'flex'">
        <vi-button
          [buttonColor]="'darker'"
          [buttonIcon]="'play'"
          [buttonTooltip]="'VIDEO_SEGMENTS.PLAY_CLIP' | translate"
          (click)="player.playerPlayCurrent()" />
        <vi-button
          [buttonColor]="'darker'"
          [buttonIcon]="'next'"
          [buttonIconStyle]="'transform:scaleX(-1);'"
          [buttonTooltip]="'VIDEO_SEGMENTS.FRAME_ADVANCE.PREV' | translate"
          (click)="player.playerFrameAdvance(false)" />
        <vi-button
          [buttonColor]="'darker'"
          [buttonIcon]="'next'"
          [buttonTooltip]="'VIDEO_SEGMENTS.FRAME_ADVANCE.NEXT' | translate"
          (click)="player.playerFrameAdvance(true)" />
        @if (load.filesLoadState() == 'loaded') {
          <p>{{ (store.storePlayer.playerVideo()[store.storeIndex()].currentTime * store.storeVideos()[store.storeIndex()].videoFrameRate) | number: '1.1-1' }} / {{ (store.storePlayer.playerVideo()[store.storeIndex()].duration * store.storeVideos()[store.storeIndex()].videoFrameRate) | number: '1.1-1' }}</p>
        }
      </div>
      <!-- Navigation/split extra controls. -->
      <div>
        <vi-button
          [buttonColor]="'darker'"
          [buttonIcon]="'split'"
          [buttonTooltip]="'VIDEO_SEGMENTS.CLIP_SPLIT.' | translate"
          [dropdown]="clipSplit" />
        <div #clipSplit>
          <div [class]="'player-split'">
            <input
              [max]="100"
              [min]="2"
              [(ngModel)]="segments.segmentsSplit"
              [type]="'number'" />
          </div>
          <button (click)="segments.clipSplit(false)">{{ 'VIDEO_SEGMENTS.CLIP_SPLIT.NUMBER' | translate: { number: segments.segmentsSplit() } }}</button>
          <span></span>
          <button (click)="segments.clipSplit(true)">{{ 'VIDEO_SEGMENTS.CLIP_SPLIT.CURRENT' | translate }}</button>
        </div>
        <div [class]="['player-separator', 'dark']"></div>
        <vi-button
          [buttonColor]="'darker'"
          [buttonIcon]="'clip-set'"
          [buttonTooltip]="'VIDEO_SEGMENTS.CLIP_SET.START' | translate"
          (click)="segments.clipSet(true)" />
        <vi-button
          [buttonColor]="'darker'"
          [buttonIcon]="'clip-set'"
          [buttonIconStyle]="'transform:scaleX(-1);'"
          [buttonTooltip]="'VIDEO_SEGMENTS.CLIP_SET.END' | translate"
          (click)="segments.clipSet(false)" />
        <div [class]="['player-separator', 'dark']"></div>
        <vi-button
          [buttonColor]="'darker'"
          [buttonIcon]="'clip-nav'"
          [buttonTooltip]="'VIDEO_SEGMENTS.CLIP_NAV.' | translate"
          [dropdown]="clipNavStart" />
        <div #clipNavStart>
          <button (click)="segments.clipNavigate(true, true)">{{ 'VIDEO_SEGMENTS.CLIP_NAV.START.CLIP' | translate }}</button>
          <span></span>
          <button (click)="segments.clipNavigate(true, false)">{{ 'VIDEO_SEGMENTS.CLIP_NAV.START.KEYFRAME' | translate }}</button>
        </div>
        <vi-button
          [buttonColor]="'darker'"
          [buttonIcon]="'clip-nav'"
          [buttonIconStyle]="'transform:scaleX(-1);'"
          [buttonTooltip]="'VIDEO_SEGMENTS.CLIP_NAV.' | translate"
          [dropdown]="clipNavEnd" />
        <div #clipNavEnd>
          <button (click)="segments.clipNavigate(false, true)">{{ 'VIDEO_SEGMENTS.CLIP_NAV.END.CLIP' | translate }}</button>
          <span></span>
          <button (click)="segments.clipNavigate(false, false)">{{ 'VIDEO_SEGMENTS.CLIP_NAV.END.KEYFRAME' | translate }}</button>
        </div>
        <vi-button
          [buttonColor]="'darker'"
          [buttonIcon]="'clip-snap'"
          [buttonTooltip]="'VIDEO_SEGMENTS.CLIP_SNAP.START.' | translate"
          [dropdown]="clipSnapStart" />
        <div #clipSnapStart>
          <button (click)="segments.clipSnap(true, true)">{{ 'VIDEO_SEGMENTS.CLIP_SNAP.START.CLIP' | translate }}</button>
          <span></span>
          <button (click)="segments.clipSnap(true, false)">{{ 'VIDEO_SEGMENTS.CLIP_SNAP.START.KEYFRAME' | translate }}</button>
        </div>
        <vi-button
          [buttonColor]="'darker'"
          [buttonIcon]="'clip-snap'"
          [buttonIconStyle]="'transform:scaleX(-1);'"
          [buttonTooltip]="'VIDEO_SEGMENTS.CLIP_SNAP.END.' | translate"
          [dropdown]="clipSnapEnd" />
        <div #clipSnapEnd>
          <button (click)="segments.clipSnap(false, true)">{{ 'VIDEO_SEGMENTS.CLIP_SNAP.END.CLIP' | translate }}</button>
          <span></span>
          <button (click)="segments.clipSnap(false, false)">{{ 'VIDEO_SEGMENTS.CLIP_SNAP.END.KEYFRAME' | translate }}</button>
        </div>
      </div>
    </div>
    @if (!store.storeFiles().length && !load.filesLoadState()) {
      <!-- Video player open/add files. -->
      <div [class]="'player-open'" [style.width]="recent.recentFiles().length && settings.options.general.recentFiles() ? '50%' : '100%'">
        <div [style.display]="load.filesLoadState() == 'loading' ? 'none' : 'flex'">
          <a [style.maskImage]="'url(assets/images/open-file.svg)'"></a>
          @if (!recent.recentFiles().length || !settings.options.general.recentFiles()) {
            <h1>{{ 'VIDEO_PLAYER.FILE_OPEN.TITLE' | translate }}</h1>
            <p>{{ 'VIDEO_PLAYER.FILE_OPEN.SUB' | translate }}</p>
          }
          <span></span>
        </div>
        <!-- Open/drag and drop input. -->
        <input
          [multiple]="true"
          [title]="''"
          [type]="'file'"
          (change)="load.filesLoadInit($event.target.files)" />
      </div>
      <!-- Video player recent files. -->
      <video-recent />
    }
  </div>
  <!-- Video player segments. -->
  <video-segments />
</div>
<!-- Video player controls. -->
<div [class]="'player-controls'" [class.loaded]="load.filesLoadState() == 'loaded'" [class.segments]="segments.segmentsOpen()">
  <!-- Video player buttons. -->
  <div [class]="'player-buttons'">
    <div>
      <vi-button
        [buttonIcon]="(!store.storePlayer.playerVideo()[store.storeIndex()] || store.storePlayer.playerVideo()[store.storeIndex()].paused) || store.storePlayer.playerVideo()[store.storeIndex()]?.ended ? 'play' : 'pause'"
        [buttonToggle]="store.storePlayer.playerVideo()[store.storeIndex()] && !store.storePlayer.playerVideo()[store.storeIndex()].paused"
        [buttonTooltip]="'VIDEO_PLAYER.PLAY_PAUSE' | translate"
        (click)="player.playerPlayback()" />
      <vi-button
        [buttonIcon]="'stop'"
        [buttonTooltip]="'VIDEO_PLAYER.STOP' | translate"
        (click)="player.playerStop()" />
      <vi-button
        [buttonIcon]="store.storePlayer.playerVideo().length ? store.storePlayer.playerVideo()[store.storeIndex()].muted || !store.storePlayer.playerVideo()[store.storeIndex()].volume ? 'mute' : 'volume' : 'volume'"
        [buttonTooltip]="'VIDEO_PLAYER.MUTE' | translate"
        (click)="player.playerMute()" />
      <!-- Video player volume control. -->
      <div [class]="'player-volume'">
        @if (store.storePlayer.playerVideo()[store.storeIndex()]) {
          <vi-slider
            [sliderTooltip]="((store.storePlayer.playerVideo()[store.storeIndex()].volume * 100) | numberInput) + '%'"
            [sliderValue]="store.storePlayer.playerVideo()[store.storeIndex()].volume * 100"
            [sliderWidth]="'100px'"
            (sliderValueChange)="player.playerVolume($event / 100)" />
        }
      </div>
      <p>{{ (store.storePlayer.playerVideo()[store.storeIndex()]?.currentTime || 0) | duration: true }} / {{ (store.storePlayer.playerVideo()[store.storeIndex()]?.duration || 0) | duration: true }}</p>
    </div>
    <div>
      <vi-button
        [buttonIcon]="'settings'"
        [buttonTooltip]="'VIDEO_PLAYER.SETTINGS' | translate"
        [style.pointerEvents]="'auto'"
        (click)="settings.settingsUpdateOpen()" />
      <div [class]="'player-separator'"></div>
      <vi-button
        [buttonIcon]="'capture'"
        [buttonTooltip]="'VIDEO_PLAYER.CAPTURE' | translate"
        (click)="capture.captureUpdateOpen()" />
      <vi-button
        [buttonIcon]="'segments'"
        [buttonToggle]="segments.segmentsOpen()"
        [buttonTooltip]="'VIDEO_PLAYER.SPLIT_MERGE' | translate"
        (click)="segments.segmentsUpdateOpen()" />
      <vi-button
        [buttonIcon]="'list'"
        [buttonTooltip]="'VIDEO_PLAYER.LIST' | translate"
        (click)="info.infoUpdateOpen()" />
      <div [class]="'player-separator'"></div>
      <vi-button
        [buttonIcon]="'rotate'"
        [buttonIconStyle]="'transform:scaleX(-1);'"
        [buttonTooltip]="'VIDEO_PLAYER.ROTATE_CCW' | translate"
        (click)="player.playerFilterRotate(false)" />
      <vi-button
        [buttonIcon]="'rotate'"
        [buttonTooltip]="'VIDEO_PLAYER.ROTATE_CW' | translate"
        (click)="player.playerFilterRotate(true)" />
      <vi-button
        [buttonIcon]="'flip'"
        [buttonIconStyle]="'transform:rotate(90deg);'"
        [buttonTooltip]="'VIDEO_PLAYER.FLIP_V' | translate"
        (click)="player.playerFilterFlip(true)" />
      <vi-button
        [buttonIcon]="'flip'"
        [buttonTooltip]="'VIDEO_PLAYER.FLIP_H' | translate"
        (click)="player.playerFilterFlip(false)" />
      <vi-button
        [buttonIcon]="'crop'"
        [buttonToggle]="filters.filterCrop()"
        [buttonTooltip]="'VIDEO_PLAYER.CROP' | translate"
        (click)="player.playerFilterCrop()" />
      <div [class]="'player-separator'"></div>
      <vi-button
        [buttonIcon]="'done'"
        [buttonTooltip]="'VIDEO_PLAYER.DONE' | translate"
        (click)="save.saveUpdateOpen()" />
      <vi-button
        [buttonIcon]="'close'"
        [buttonTooltip]="'VIDEO_PLAYER.CLOSE' | translate"
        (click)="load.filesClose()" />
    </div>
  </div>
  <!-- Video player progress bar. -->
  <vi-progress
    [progressDuration]="store.storePlayer.playerVideo()[store.storeIndex()]?.duration ?? 0"
    [progressExtend]="segments.segmentsOpen()"
    [progressFrames]="store.storeVideos()[store.storeIndex()]?.videoKeyframes ?? []"
    [progressFramesHide]="(store.storeVideos()[store.storeIndex()]?.videoKeyframes ?? []).length > 1024 || !settings.options.general.keyFrames()"
    [progressHover]="store.storeFiles()[store.storeIndex()]?.fileThumbs ?? []"
    [progressInterval]="store.storeFiles()[store.storeIndex()]?.fileInterval ?? 0"
    [progressTime]="store.storePlayer.playerVideo()[store.storeIndex()]?.currentTime ?? 0"
    (progressTimeChange)="store.storePlayer.playerVideo()[store.storeIndex()].currentTime = $event" />
  <!-- Video player clips. -->
  <video-clips />
</div>
<!-- Frame capture component. -->
<video-capture />
<!-- Video information component. -->
<video-info />
<!-- Video save component. -->
<video-save />
<!-- App settings component. -->
<video-settings />
<!-- FFmpeg download component. -->
<video-download />