.player-buttons {
  @apply flex mb-2;
}

.player-buttons > div:last-child {
  @apply ml-auto;
}

.player-buttons > div ui-button:not(:first-child) {
  @apply ml-2;
}

.player-controls {
  @apply absolute bottom-0 flex flex-col h-[70px] justify-center mb-4 mx-4;
  width: calc(100% - 34px);
}

.player-edit {
  @apply absolute bg-slate-1000 border border-slate-1000 flex justify-center w-full;
  height: calc(100% - 100px);
}

.player-file {
  @apply h-full w-full;
}

.player-file > div {
  @apply absolute flex flex-col h-full items-center justify-center w-full [&>h1]:text-2xl [&>h1]:font-medium [&>p]:opacity-60;
}

.player-file img {
  @apply h-36 mb-6 opacity-20 w-full;
}

.player-file input {
  @apply cursor-pointer h-full opacity-0 w-full;
}

.player-file span {
  @apply absolute border-2 border-dashed border-slate-100 opacity-20 rounded-md;
  height: calc(100% - 36px);
  width: calc(100% - 36px);
}

.player-separator {
  @apply bg-slate-700 h-7 inline-flex ml-4 mr-2 my-1 w-0.5;
}

.player-video {
  @apply overflow-hidden relative;
}