.player-buttons {
  display: flex;
  margin-bottom: 8px;
}

.player-buttons button {
  all: unset;
  cursor: pointer;
  height: 36px;
  transition: background-color 0.2s ease-in-out;
  width: 36px;
}

.player-buttons button:hover {
  background-color: #334155;
}

.player-buttons img {
  height: 36px;
}

.player-buttons > div:last-child {
  margin-left: auto;
}

.player-buttons > div button:not(:first-child) {
  margin-left: 8px;
}

.player-controls {
  bottom: 16px;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  position: absolute;
  width: calc(100% - 34px);
}

.player-controls progress[value] {
  appearance: none;
  border: solid 1px #0c1324;
  cursor: pointer;
  height: 8px;
  width: 100%;
}

.player-controls progress[value]::-webkit-progress-bar {
  background-color: #0f172a;
}

.player-controls progress[value]::-webkit-progress-value {
  background-color: #1d4ed8;
}

.player-edit {
  background-color: #0f172a;
  border: solid 1px #0c1324;
  display: flex;
  height: calc(100% - 76px - 34px);
  justify-content: center;
  position: absolute;
  width: calc(100% - 34px);
}

.player-file {
  height: 100%;
  width: 100%;
}

.player-file img {
  height: 100%;
  opacity: 0.2;
  position: absolute;
  width: 100%;
}

.player-file input {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  width: 100%;
}

.player-video {
  overflow: hidden;
  position: relative;
}