<div id="playerEdit" class="player-edit">
  <div id="playerContainer" class="player-video" [class]="store.state.fileInfo.filePath ? 'flex' : 'hidden'">
    <div id="$playerContainer" class="player-video flex">
      <video id="playerVideo" [muted]="true" [src]="store.state.fileInfo.filePath" (loadedmetadata)="$videoFileLoaded()" (timeupdate)="null"></video>
    </div>
    <div id="playerCrop" [hidden]="!filters.filterInfo.filterCrop" class="resizable"></div>
  </div>
  <div *ngIf="!store.state.fileInfo.filePath" class="player-file">
    <div>
      <img [src]="'/assets/images/open.svg'">
      <h1>{{ 'VIDEO_PLAYER.FILE_OPEN.TITLE' | translate }}</h1>
      <p>{{ 'VIDEO_PLAYER.FILE_OPEN.SUB' | translate }}</p>
      <span></span>
    </div>
    <input type="file" title="" (change)="videoFileOpen($event)" />
  </div>
</div>
<div class="player-controls" [class]="!store.state.fileInfo.filePath ? 'pointer-events-none' : ''">
  <div class="player-buttons">
    <div>
      <ui-button buttonColor="dark" [buttonIcon]="playerInfo.playerVideo.paused || playerInfo.playerVideo.ended ? 'play' : 'pause'" [buttonToggle]="!playerInfo.playerVideo.paused" (click)="videoPlayerPlay()"></ui-button>
      <ui-button buttonColor="dark" buttonIcon="stop" (click)="videoPlayerStop()"></ui-button>
      <ui-button buttonColor="dark" [buttonIcon]="playerInfo.playerVideo.muted || playerInfo.playerVideo.volume == 0 ? 'mute' : 'volume'" (click)="videoPlayerMute()"></ui-button>
    </div>
    <div>
      <ui-button buttonColor="dark" buttonIcon="list" (click)="$videoInfo.$videoInfo()"></ui-button>
      <ui-button buttonColor="dark" buttonIcon="clear" [buttonToggle]="filters.filterInfo.filterClear" (click)="videoFilterClear()"></ui-button>
      <ui-button buttonColor="dark" buttonIcon="noaudio" [buttonToggle]="filters.filterInfo.filterNoAudio" (click)="videoFilterNoAudio()"></ui-button>
      <ui-button buttonColor="dark" buttonIcon="rotate" buttonIconClass="-scale-x-100" (click)="videoFilterRotate(false)"></ui-button>
      <ui-button buttonColor="dark" buttonIcon="rotate" (click)="videoFilterRotate(true)"></ui-button>
      <ui-button buttonColor="dark" buttonIcon="flip" buttonIconClass="rotate-90" (click)="videoFilterFlip(true)"></ui-button>
      <ui-button buttonColor="dark" buttonIcon="flip" (click)="videoFilterFlip(false)"></ui-button>
      <ui-button buttonColor="dark" buttonIcon="crop" [buttonToggle]="filters.filterInfo.filterCrop" (click)="videoFilterCrop()"></ui-button>
      <ui-button buttonColor="dark" buttonIcon="done" (click)="$videoSave.$videoSave()"></ui-button>
      <ui-button buttonColor="dark" buttonIcon="close" (click)="videoFileClose()"></ui-button>
    </div>
  </div>
  <ui-progress [(progressTime)]="playerInfo.playerVideo.currentTime" [progressDuration]="playerInfo.playerVideo.duration"></ui-progress>
</div>
<video-info #videoInfo *ngIf="store.state.fileInfo.fileLoaded" (loaded)="videoFileLoaded(videoInfo)"></video-info>
<video-save #videoSave *ngIf="store.state.fileInfo.fileLoaded" (loaded)="$videoSave = videoSave"></video-save>