<div id="progress" class="progress-container">
  <progress min="0" [max]="progressDuration | numberInput" [value]="progressTime"></progress>
  <div class="progress-thumb">
    <div [hidden]="!progressExtend"></div>
  </div>
  <div [hidden]="!progressExtend" class="progress-frames">
    <div *ngFor="let frame of progressFrames; index as i">
      <div rendered (rendered)="updateFrame($event, i)"></div>
    </div>
  </div>
</div>
<div [tooltip]="progressHover_" [tooltipDelay]="[200, 100]" tooltipFollow="horizontal" [tooltipHide]="false" tooltipTheme="tooltip-lite" class="progress-tooltip"
  (mousemove)="updateHover($event)" (mouseup)="updateProgress($event)" (mouseenter)="$progressHover.line = 1" (mouseleave)="$progressHover.line = 0"></div>
<div #progressHover_ class="progress-hover">
  <img *ngIf="progressHover.length" [src]="$progressHover.thumb">
  <p>{{ $progressHover.time | duration: true }}</p>
</div>
<div *ngIf="$progressHover.line && progressExtend" id="progress-line" class="progress-line"></div>