/* Define theme colors. */
[data-theme="light"] :host {
  --checkbox-border: rgb(144, 164, 184);
  --checkbox-color: rgb(192, 202, 212);
  --checkbox-fill: rgb(36, 42, 48);
}
[data-theme="dark"] :host {
  --checkbox-border: rgb(36, 42, 48);
  --checkbox-color: rgb(8, 12, 16);
  --checkbox-fill: rgb(222, 232, 242);
}
[data-theme="slate"] :host {
  --checkbox-border: rgb(36, 40, 58);
  --checkbox-color: rgb(14, 16, 26);
  --checkbox-fill: rgb(222, 232, 242);
}

/* Checkbox container. */
.checkbox-container {
  cursor: pointer;
}
.checkbox-container > input {
  display: none;
}

/* Checkbox box. */
.checkbox-box {
  align-items: center;
  background-color: var(--checkbox-color);
  border: 1px solid var(--checkbox-border);
  border-radius: 4px;
  display: flex;
  height: 20px;
  justify-content: center;
  transition: background-color 0.2s, border-color 0.2s, filter 0.2s;
  width: 20px;
}
.checkbox-box:hover {
  filter: brightness(0.9);
}
.checkbox-box > div {
  border-radius: 2px;
  height: 10px;
  transition: background-color 0.2s;
  width: 10px;
}
.checkbox-box > div.checked {
  background-color: var(--checkbox-fill);
}