/* Define theme colors. */
[data-theme="light"] :host {
  --loading-color: rgb(22, 28, 34);
}
[data-theme="dark"] :host,
[data-theme="slate"] :host {
  --loading-color: rgb(232, 238, 244);
}

/* Loading spinning ring. */
.loading-ring {
  animation: spin 1s linear infinite;
  border: 4px solid var(--loading-color);
  border-radius: 50%;
  border-top-color: transparent;
  height: 56px;
  width: 56px;
}
.loading-ring.dark {
  border: 4px solid rgb(22, 28, 34);
  border-top-color: transparent;
}
.loading-ring.light {
  border: 4px solid rgb(232, 238, 244);
  border-top-color: transparent;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}