<div [class]="inputDisabled ? 'opacity-50 pointer-events-none' : ''">
  <label *ngIf="inputLabel">{{ inputLabel }}</label>
  <div class="input-container">
    <input [(ngModel)]="inputValue" [disabled]="inputDisabled" [placeholder]="inputPlaceholder" [required]="inputRequired"
      [type]="inputType" (click)="$event.preventDefault(); $event.stopPropagation();" (input)="inputUpdate()">
    <div *ngIf="inputType == 'number'" class="input-arrows">
      <div (click)="inputStepUp($event)" class="input-arrow rounded-tr">
        <div class="mt-0.5 rotate-180"></div>
      </div>
      <div (click)="inputStepDown($event)" class="input-arrow rounded-br">
        <div class="mb-0.5"></div>
      </div>
    </div>
  </div>
</div>