/* Define theme colors. */
[data-theme="light"] :host {
  --modal-border: rgb();
  --modal-color: rgb(222, 232, 242);
}
[data-theme="dark"] :host {
  --modal-border: rgb(36, 42, 48);
  --modal-color: rgb(22, 28, 34);
}
[data-theme="slate"] :host {
  --modal-border: rgb(36, 40, 58);
  --modal-color: rgb(28, 36, 52);
}

/* Modal container. */
:host {
  display: contents;
}
.modal-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;
}
.modal-container.hide {
  opacity: 0;
  pointer-events: none;
}

/* Modal overlay. */
.modal-overlay {
  background-color: rgb(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

/* Modal dialog. */
.modal-dialog {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.modal-dialog > div {
  background-color: var(--modal-color);
  border: 1px solid var(--modal-border);
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s;
}