/* Define theme colors. */
[data-theme="light"] :host {
  --option-color: rgb(208, 218, 228);
}
[data-theme="dark"] :host {
  --option-color: rgb(14, 18, 22);
}
[data-theme="slate"] :host {
  --option-color: rgb(22, 26, 40);
}

/* Option container. */
.option-container {
  @apply cursor-pointer flex h-10 items-center overflow-hidden px-3;
  transition: background-color 0.2s;
}
.option-container:hover,
.option-container.selected {
  background-color: var(--option-color);
}

/* Option label. */
.option-label {
  @apply pointer-events-none;
}
.option-label > p {
  @apply whitespace-nowrap;
}