/* Define theme colors. */
[data-theme="light"] :host {
  --category-border: rgb(160, 170, 180);
  --category-color: rgb(208, 218, 228);
  --category-hover: rgb(192, 202, 212);
  --category-icon: rgb(14, 18, 22);
  --options-border: rgb(160, 170, 180);
  --title-border: rgb(176, 186, 196);
}
[data-theme="dark"] :host {
  --category-border: rgb(22, 28, 34);
  --category-color: rgb(8, 12, 16);
  --category-hover: rgb(14, 18, 22);
  --category-icon: rgb(232, 238, 244);
  --options-border: rgb(36, 42, 48);
  --title-border: rgb(160, 170, 180);
}

/* Settings container. */
.settings-container {
  @apply flex h-[450px] space-x-4;
}

/* Settings categories. */
.settings-categories {
  @apply flex flex-col items-center space-y-4 w-[150px];
}
.settings-category {
  @apply h-full overflow-hidden rounded w-full;
  background-color: var(--category-color);
  border: 1px solid var(--category-border);
  transition: background-color 0.2s, border-color 0.2s;
}
.settings-category > div {
  @apply cursor-pointer flex items-center p-2 space-x-1 w-full;
  border-bottom: 1px solid var(--category-border);
  transition: background-color 0.2s, border-color 0.2s;
}
.settings-category > div:hover {
  background-color: var(--category-hover);
}
.settings-category > div.selected {
  background-color: var(--category-hover);
}
.settings-category a {
  @apply block h-9 w-9;
  background-color: var(--category-icon);
  transition: background-color 0.2s;
}
.settings-category p {
  @apply pointer-events-none;
}
.settings-separator {
  @apply h-px w-11/12;
  background-color: var(--options-border);
  transition: background-color 0.2s;
}
.settings-buttons {
  @apply flex flex-col space-y-2 w-[116px];
}
:host ::ng-deep .settings-buttons > vi-button > button {
  @apply w-full;
}

/* Settings contents. */
.settings-contents {
  @apply w-[400px];
}
.settings-title {
  @apply px-2;
}
.settings-title > p {
  @apply mb-5 mt-2 pb-3 text-2xl;
  border-bottom: 1px solid var(--title-border);
  transition: border-color 0.2s;
}

/* Settings options. */
.settings-options {
  @apply h-[calc(100%-74px)] py-4 rounded;
  border: 1px solid var(--options-border);
  transition: border-color 0.2s;
}
.settings-option {
  @apply flex items-center justify-between min-h-[36px] pb-4 [&:not(:first-child)]:pt-4 px-4 space-x-2 [&>p]:whitespace-nowrap;
  border-bottom: 1px solid var(--options-border);
  transition: border-color 0.2s;
}
:host ::ng-deep .settings-option vi-button.more {
  @apply flex pb-2 self-end;
}
:host ::ng-deep .settings-option vi-button.more a {
  height: 18px;
  margin-left: 3px;
  margin-right: 3px;
  width: 18px;
}
:host ::ng-deep .settings-option vi-input {
  @apply w-full;
}

/* Settings theme. */
.settings-theme {
  align-items: center;
  display: flex;
}
.settings-theme > div {
  border: 1px solid var(--options-border);
  border-radius: 2px;
  height: 12px;
  margin-right: 8px;
  width: 12px;
}