<!-- Settings dialog. -->
@if (settings.settingsOpen()) {
  <vi-modal>
    <!-- Settings container. -->
    <div [class]="'settings-container'">
      <!-- Settings categories. -->
      <div [class]="'settings-categories'">
        <div [class]="'settings-category'">
          <div
            [class.selected]="settings.settingsIndex() == 'GENERAL'"
            (click)="settings.settingsUpdateIndex('GENERAL')">
            <img [src]="'assets/images/settings.svg'">
            <p>{{ 'VIDEO_SETTINGS.GENERAL.NAME' | translate }}</p>
          </div>
          <div
            [class.selected]="settings.settingsIndex() == 'FFMPEG'"
            (click)="settings.settingsUpdateIndex('FFMPEG')">
            <img [src]="'assets/images/settings.svg'">
            <p>{{ 'VIDEO_SETTINGS.FFMPEG.NAME' | translate }}</p>
          </div>
        </div>
        <div [class]="'settings-separator'"></div>
        <div [class]="'settings-buttons'">
          <vi-button
            [buttonColor]="'danger'"
            [buttonIcon]="'rotate'"
            [buttonText]="'VIDEO_SETTINGS.RESTORE' | translate"
            (click)="settings.settingsRestore()" />
          <vi-button
            [buttonColor]="'secondary'"
            [buttonIcon]="'done'"
            [buttonText]="'GENERAL.CLOSE' | translate"
            (click)="settings.settingsUpdateOpen()" />
        </div>
      </div>
      <!-- Settings contents. -->
      <div [class]="'settings-contents'">
        <div [class]="'settings-title'">
          <p>{{ 'VIDEO_SETTINGS.TITLE' | translate: { title: 'VIDEO_SETTINGS.' + settings.settingsIndex() + '.NAME' | translate } }}</p>
        </div>
        <!-- Settings options. -->
        <div [class]="'settings-options'">
          @switch (settings.settingsIndex()) {
            <!-- General settings. -->
            @case ('GENERAL') {
              <div>
                <div
                  [class]="'settings-option'"
                  [tooltip]="'VIDEO_SETTINGS.GENERAL.RECENT_FILES.TEXT' | translate"
                  [tooltipDelay]="[400, 0]"
                  [tooltipPlace]="'bottom'">
                  <p>{{ 'VIDEO_SETTINGS.GENERAL.RECENT_FILES.NAME' | translate }}</p>
                  <vi-checkbox
                    [(checkboxValue)]="settings.options.general.recentFiles"
                    (click)="settings.settingsUpdate('general', 'recentFiles')" />
                </div>
                <div
                  [class]="'settings-option'"
                  [tooltip]="'VIDEO_SETTINGS.GENERAL.CREATE_THUMBS.TEXT' | translate"
                  [tooltipDelay]="[400, 0]"
                  [tooltipPlace]="'bottom'">
                  <p>{{ 'VIDEO_SETTINGS.GENERAL.CREATE_THUMBS.NAME' | translate }}</p>
                  <vi-checkbox
                    [(checkboxValue)]="settings.options.general.createThumbs"
                    (click)="settings.settingsUpdate('general', 'createThumbs')" />
                </div>
                <div
                  [class]="'settings-option'"
                  [tooltip]="'VIDEO_SETTINGS.GENERAL.KEY_FRAMES.TEXT' | translate"
                  [tooltipDelay]="[400, 0]"
                  [tooltipPlace]="'bottom'">
                  <p>{{ 'VIDEO_SETTINGS.GENERAL.KEY_FRAMES.NAME' | translate }}</p>
                  <vi-checkbox
                    [(checkboxValue)]="settings.options.general.keyFrames"
                    (click)="settings.settingsUpdate('general', 'keyFrames')" />
                </div>
                <div
                  [class]="'settings-option'"
                  [tooltip]="'VIDEO_SETTINGS.GENERAL.CLEAR_CACHE.TEXT' | translate"
                  [tooltipDelay]="[400, 0]"
                  [tooltipPlace]="'bottom'">
                  <p>{{ 'VIDEO_SETTINGS.GENERAL.CLEAR_CACHE.NAME' | translate }}</p>
                  <vi-button
                    [buttonColor]="'dark'"
                    [buttonDisabled]="!!store.storeFiles().length"
                    [buttonIcon]="'close'"
                    [buttonIconClass]="'-ml-[24px] opacity-0'"
                    [buttonText]="'GENERAL.DELETE' | translate"
                    (click)="settings.settingsClearCache()" />
                </div>
              </div>
            }
            <!-- FFmpeg settings. -->
            @case ('FFMPEG') {
              <div>
                <div
                  [class]="'settings-option'"
                  [tooltip]="'VIDEO_SETTINGS.FFMPEG.FILES_PATH.TEXT' | translate"
                  [tooltipDelay]="[400, 0]"
                  [tooltipPlace]="'bottom'">
                  <vi-input
                    [inputLabel]="'VIDEO_SETTINGS.FFMPEG.FILES_PATH.NAME' | translate"
                    [(inputValue)]="settings.options.ffmpeg.filesPath"
                    (inputUpdated)="settings.settingsUpdate('ffmpeg', 'filesPath')" />
                  <vi-button
                    [buttonColor]="'dark'"
                    [buttonIcon]="'more'"
                    [class]="'more'"
                    (click)="settings.settingsUpdatePath()" />
                </div>
                <div [class]="'settings-option'" [style.height]="'57px'">
                  <p>{{ 'VIDEO_SETTINGS.FFMPEG.VERSION' | translate }}</p>
                  @if (settings.settingsVersion().length) {
                    <p [class]="'text-sm'">{{ settings.settingsVersion() }}</p>
                  } @else {
                    <vi-button
                      [buttonColor]="'dark'"
                      [buttonIcon]="'done'"
                      [buttonIconClass]="'-ml-[24px] opacity-0'"
                      [buttonText]="'VIDEO_SETTINGS.FFMPEG.DOWNLOAD.NAME' | translate"
                      [tooltip]="'VIDEO_SETTINGS.FFMPEG.DOWNLOAD.TEXT' | translate"
                      [tooltipDelay]="[400, 0]"
                      [tooltipPlace]="'bottom'"
                      (click)="download.downloadUpdateDownload()" />
                  }
                </div>
                <div
                  [class]="'settings-option'"
                  [tooltip]="'VIDEO_SETTINGS.FFMPEG.SAVE_COMMANDS.TEXT' | translate"
                  [tooltipDelay]="[400, 0]"
                  [tooltipPlace]="'bottom'">
                  <p>{{ 'VIDEO_SETTINGS.FFMPEG.SAVE_COMMANDS.NAME' | translate }}</p>
                  <vi-checkbox
                    [(checkboxValue)]="settings.options.ffmpeg.commandsSave"
                    (click)="settings.settingsUpdate('ffmpeg', 'commandsSave')" />
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
  </vi-modal>
}