/* Define theme colors. */
[data-theme="light"] :host {
  --button-border: rgb(144, 164, 184);
  --button-color: rgb(192, 202, 212);
  --button-color-dark: rgb(176, 186, 196);
  --button-hover: rgb(176, 186, 196);
  --button-hover-dark: rgb(160, 170, 180);
  --button-icon: rgb(14, 18, 22);
  --button-text: rgb(22, 28, 34);
}
[data-theme="dark"] :host {
  --button-border: rgb(28, 36, 44);
  --button-color: rgb(14, 18, 22);
  --button-color-dark: rgb(8, 12, 16);
  --button-hover: rgb(8, 12, 16);
  --button-hover-dark: rgb(2, 6, 10);
  --button-icon: rgb(232, 238, 244);
  --button-text: rgb(232, 238, 244);
}
[data-theme="slate"] :host {
  --button-border: rgb(36, 40, 58);
  --button-color: rgb(18, 22, 36);
  --button-color-dark: rgb(14, 16, 26);
  --button-hover: rgb(14, 16, 26);
  --button-hover-dark: rgb(8, 10, 20);
  --button-icon: rgb(232, 238, 244);
  --button-text: rgb(232, 238, 244);
}

/* Button container. */
.button-container {
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}
.button-container.disabled {
  cursor: no-drop;
}
.button-container.icon,
.button-container.text {
  align-items: center;
  display: flex;
}
.button-container.icon {
  padding: 0 16px 0 4px;
}
.button-container.text {
  padding: 5px 16px;
}
.button-container > a {
  background-color: var(--button-icon);
  display: block;
  height: 36px;
  transition: background-color 0.2s;
  width: 36px;
}
.button-container > div {
  transition: color 0.2s;
}

/* Button default colors. */
button {
  background-color: var(--button-color);
  border: 1px solid var(--button-border);
  transition: background-color 0.2s, border-color 0.2s;
}
button:hover,
button.active {
  background-color: var(--button-hover);
}
button > div {
  color: var(--button-text);
}

/* Button darker colors. */
button.darker {
  background-color: var(--button-color-dark);
}
button.darker:hover,
button.darker.active {
  background-color: var(--button-hover-dark);
}

/* Button primary colors. */
button.primary {
  background-color: rgb(38, 100, 236);
  border-style: none;
}
button.primary:hover,
button.primary.active {
  background-color: rgb(28, 78, 216);
}
button.primary > a {
  background-color: rgb(232, 238, 244);
}
button.primary > div {
  color: rgb(232, 238, 244);
}

/* Button secondary colors. */
button.secondary {
  background-color: rgb(70, 86, 106);
  border-style: none;
}
button.secondary:hover,
button.secondary.active {
  background-color: rgb(52, 66, 86);
}
button.secondary > a {
  background-color: rgb(232, 238, 244);
}
button.secondary > div {
  color: rgb(232, 238, 244);
}

/* Button success colors. */
button.success {
  background-color: rgb(22, 164, 74);
  border-style: none;
}
button.success:hover,
button.success.active {
  background-color: rgb(22, 128, 62);
}
button.success > a {
  background-color: rgb(232, 238, 244);
}
button.success > div {
  color: rgb(232, 238, 244);
}

/* Button danger colors. */
button.danger {
  background-color: rgb(220, 38, 38);
  border-style: none;
}
button.danger:hover,
button.danger.active {
  background-color: rgb(186, 28, 28);
}
button.danger > a {
  background-color: rgb(232, 238, 244);
}
button.danger > div {
  color: rgb(232, 238, 244);
}

/* Button warning colors. */
button.warning {
  background-color: rgb(252, 192, 36);
  border-style: none;
}
button.warning:hover,
button.warning.active {
  background-color: rgb(246, 158, 12);
}
button.warning > a {
  background-color: rgb(14, 18, 22);
}
button.warning > div {
  color: rgb(14, 18, 22);
}