/* Define theme colors. */
[data-theme="light"] :host {
  --button-border: rgb(144, 164, 184);
  --button-color: rgb(192, 202, 212);
  --button-color-dark: rgb(176, 186, 196);
  --button-hover: rgb(176, 186, 196);
  --button-hover-dark: rgb(160, 170, 180);
  --button-icon: rgb(14, 18, 22);
  --button-text: rgb(22, 28, 34);
}
[data-theme="dark"] :host {
  --button-border: rgb(28, 36, 44);
  --button-color: rgb(14, 18, 22);
  --button-color-dark: rgb(8, 12, 16);
  --button-hover: rgb(8, 12, 16);
  --button-hover-dark: rgb(2, 6, 10);
  --button-icon: rgb(232, 238, 244);
  --button-text: rgb(232, 238, 244);
}

/* Button container. */
.button-container {
  @apply cursor-pointer rounded;
  transition: background-color 0.2s, border-color 0.2s;
}
.button-container.disabled {
  @apply cursor-no-drop;
}
.button-container.text {
  @apply flex items-center pl-1 pr-4;
}
.button-container > a {
  @apply block h-9 w-9;
  background-color: var(--button-icon);
  transition: background-color 0.2s;
}
.button-container > div {
  transition: color 0.2s;
}

/* Button default colors. */
button {
  background-color: var(--button-color);
  border: 1px solid var(--button-border);
  transition: background-color 0.2s, border-color 0.2s;
}
button:hover,
button.active {
  background-color: var(--button-hover);
}
button > div {
  color: var(--button-text);
}

/* Button darker colors. */
button.darker {
  background-color: var(--button-color-dark);
}
button.darker:hover,
button.darker.active {
  background-color: var(--button-hover-dark);
}

/* Button primary colors. */
button.primary {
  @apply bg-blue-600 hover:bg-blue-700 border-none;
}
button.primary.active {
  @apply bg-blue-700;
}
button.primary > a {
  background-color: rgb(232, 238, 244);
}
button.primary > div {
  color: rgb(232, 238, 244);
}

/* Button secondary colors. */
button.secondary {
  @apply bg-slate-600 hover:bg-slate-700 border-none;
}
button.secondary.active {
  @apply bg-slate-700;
}
button.secondary > a {
  background-color: rgb(232, 238, 244);
}
button.secondary > div {
  color: rgb(232, 238, 244);
}

/* Button success colors. */
button.success {
  @apply bg-green-600 hover:bg-green-700 border-none;
}
button.success.active {
  @apply bg-green-700;
}
button.success > a {
  background-color: rgb(232, 238, 244);
}
button.success > div {
  color: rgb(232, 238, 244);
}

/* Button danger colors. */
button.danger {
  @apply bg-red-600 hover:bg-red-700 border-none;
}
button.danger.active {
  @apply bg-red-700;
}
button.danger > a {
  background-color: rgb(232, 238, 244);
}
button.danger > div {
  color: rgb(232, 238, 244);
}

/* Button warning colors. */
button.warning {
  @apply bg-amber-400 hover:bg-amber-500 border-none;
}
button.warning.active {
  @apply bg-amber-500;
}
button.warning > a {
  background-color: rgb(14, 18, 22);
}
button.warning > div {
  color: rgb(14, 18, 22);
}