<!-- Button container. -->
<button
  [class]="['button-container', buttonColor()]"
  [class.active]="buttonToggle()"
  [class.disabled]="buttonDisabled()"
  [disabled]="buttonDisabled()"
  [class.text]="buttonText() && buttonIcon()"
  [tooltip]="buttonTooltip()">
  <!-- Button icon. -->
  @if (buttonIcon()) {
    <a [class]="buttonIconClass()" [style.maskImage]="'url(assets/images/' + buttonIcon() + '.svg)'"></a>
  }
  <!-- Button label. -->
  <ng-content>
    @if (buttonText()) { <div>{{ buttonText() }}</div> }
  </ng-content>
</button>