/* Setup Tippy. */
@import 'tippy.js/dist/tippy.css';
@import 'app/directives/dropdown/dropdown.directive.css';
@import 'app/directives/tooltip/tooltip.directive.css';

/* Define fonts. */
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter.ttf');
}

/* Define colors palette. */
palette {
  /* Light/dark. */
  --: rgb(2, 6, 10);
  --: rgb(4, 8, 12);
  --: rgb(8, 12, 16);
  --: rgb(14, 18, 22);
  --: rgb(18, 24, 30);
  --: rgb(22, 28, 34);
  --: rgb(28, 36, 44);
  --: rgb(36, 42, 48);
  --: rgb(60, 68, 76);
  --: rgb(86, 96, 106);
  --: rgb(106, 116, 126);
  --: rgb(126, 136, 146);
  --: rgb(144, 164, 184);
  --: rgb(160, 170, 180);
  --: rgb(176, 186, 196);
  --: rgb(192, 202, 212);
  --: rgb(208, 218, 228);
  --: rgb(222, 232, 242);
  --: rgb(232, 238, 244);
  /* Slate. */
  --: rgb(8, 10, 20);
  --: rgb(14, 16, 26);
  --: rgb(18, 22, 36);
  --: rgb(22, 26, 40);
  --: rgb(28, 36, 52);
  --: rgb(36, 40, 58);
  --: rgb(60, 66, 84);
  --: rgb(86, 96, 116);
  --: rgb(126, 136, 156);
}

/* Define theme colors. */
[data-theme="light"] {
  --color-body: rgb(222, 232, 242);
  --color-font: rgb(22, 28, 34);
  --color-scroll: rgb(160, 170, 180);
}
[data-theme="dark"] {
  --color-body: rgb(22, 28, 34);
  --color-font: rgb(232, 238, 244);
  --color-scroll: rgb(36, 42, 48);
}
[data-theme="slate"] {
  --color-body: rgb(28, 36, 52);
  --color-font: rgb(232, 238, 244);
  --color-scroll: rgb(36, 40, 58);
}

/* General styling. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b, p {
  cursor: default;
  white-space: pre-wrap;
}
body {
  background-color: var(--color-body);
  font-family: 'Inter';
  line-height: 1.5;
  transition: background-color 0.2s;
}
button {
  background-color: transparent;
  cursor: pointer;
}
button, input, select, textarea {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
}
div, h1, p, span {
  color: var(--color-font);
  transition: color 0.2s;
}

/* Scrollbars styling. */
::-webkit-scrollbar {
  background-color: transparent;
  height: 12px;
  width: 12px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: var(--color-scroll);
  border: 4px solid transparent;
  border-radius: 16px;
}