@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'tippy.js/dist/tippy.css';
@import 'app/directives/dropdown.directive.css';
@import 'app/directives/tooltip.directive.css';

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter.ttf');
}

*:focus {
  outline: none;
}

body {
  @apply bg-slate-850;
  font-family: 'Inter';
}

div, h1, p, span {
  @apply text-slate-100;
}

p {
  @apply cursor-default;
}

video {
  @apply max-w-none;
}

.resizable {
  @apply absolute border border-white cursor-all-scroll overflow-hidden;
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.5);
}

.resizable-handle-w {
  @apply left-0 !important;
}

.resizable-handle-nw {
  @apply border-l-2 border-t-2 border-white left-0 top-0 !important;
}

.resizable-handle-n {
  @apply top-0 !important;
}

.resizable-handle-ne {
  @apply border-r-2 border-t-2 border-white right-0 top-0 !important;
}

.resizable-handle-e {
  @apply right-0 !important;
}

.resizable-handle-se {
  @apply border-b-2 border-r-2 border-white bottom-0 right-0 !important;
}

.resizable-handle-s {
  @apply bottom-0 !important;
}

.resizable-handle-sw {
  @apply border-b-2 border-l-2 border-white bottom-0 left-0 !important;
}