/* Define theme colors. */
[data-theme="light"] :host {
  --slider-border: rgb(144, 164, 184);
  --slider-color: rgb(192, 202, 212);
  --slider-fill: rgb(160, 170, 180);
}
[data-theme="dark"] :host {
  --slider-border: rgb(28, 36, 44);
  --slider-color: rgb(14, 18, 22);
  --slider-fill: rgb(8, 12, 16);
}
[data-theme="slate"] :host {
  --slider-border: rgb(36, 40, 58);
  --slider-color: rgb(18, 22, 36);
  --slider-fill: rgb(14, 16, 26);
}
:host {
  --slider-thumb: rgb(232, 238, 244);
}

/* Slider container. */
.slider-container {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  position: relative;
}
.slider-container.vertical {
  width: 20px;
}

/* Slider input. */
.slider-container input {
  appearance: none;
  background: linear-gradient(to right, var(--slider-fill) 0%, var(--slider-fill) 50%, var(--slider-color) 50%, var(--slider-color) 100%);
  border: 1px solid var(--slider-border);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 5px;
}
.slider-container.vertical input {
  transform: rotate(270deg);
}
.slider-container input::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--slider-thumb);
  border: 1px solid var(--slider-border);
  border-radius: 16px;
  height: 16px;
  width: 16px;
}

/* Slider thumb. */
.slider-container > div {
  height: 16px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.2s;
  width: 16px;
}
.slider-container input:hover + div {
  opacity: 1;
}