/* Define theme colors. */
[data-theme="light"] :host {
  --slider-border: rgb(144, 164, 184);
  --slider-color: rgb(192, 202, 212);
  --slider-fill: rgb(160, 170, 180);
}
[data-theme="dark"] :host {
  --slider-border: rgb(28, 36, 44);
  --slider-color: rgb(14, 18, 22);
  --slider-fill: rgb(8, 12, 16);
}
[data-theme="slate"] :host {
  --slider-border: rgb(36, 40, 58);
  --slider-color: rgb(18, 22, 36);
  --slider-fill: rgb(14, 16, 26);
}
:host {
  --slider-thumb: rgb(232, 238, 244);
}

/* Slider container. */
.slider-container {
  @apply flex h-[20px] items-center justify-center relative;
}
.slider-container.vertical {
  width: 20px;
}

/* Slider input. */
.slider-container input {
  @apply appearance-none cursor-pointer flex h-[5px] rounded-full;
  background: linear-gradient(to right, var(--slider-fill) 0%, var(--slider-fill) 50%, var(--slider-color) 50%, var(--slider-color) 100%);
  border: 1px solid var(--slider-border);
}
.slider-container.vertical input {
  transform: rotate(270deg);
}
.slider-container input::-webkit-slider-thumb {
  @apply appearance-none h-4 rounded-full w-4;
  background-color: var(--slider-thumb);
  border: 1px solid var(--slider-border);
}

/* Slider thumb. */
.slider-container > div {
  @apply absolute h-4 pointer-events-none w-4;
  opacity: 0;
  transition: opacity 0.2s;
}
.slider-container input:hover + div {
  opacity: 1;
}