<!-- Video information dialog. -->
@if (store.storeVideos()[store.storeIndex()]?.videoStreams) {
  <vi-modal [modalHidden]="!info.infoOpen()">
    <!-- Video file streams. -->
    <table [class]="'info-streams'">
      <thead>
        <tr>
          <th>{{ 'VIDEO_INFO.TRACK' | translate }}</th>
          <th>{{ 'VIDEO_INFO.TYPE' | translate }}</th>
          <th>{{ 'GENERAL.CODEC' | translate }}</th>
          <th>{{ 'VIDEO_INFO.BITRATE' | translate }}</th>
          <th>{{ 'VIDEO_INFO.INFORMATION' | translate }}</th>
        </tr>
        <tr></tr>
      </thead>
      <tbody>
        <!-- Video stream tracks. -->
        @for (stream of store.storeVideos()[store.storeIndex()].videoStreams; track stream; let i = $index) {
          <div [class]="'info-tracks'" [class.selected]="i == info.infoExpanded()">
            <tr (click)="info.infoUpdateExpanded(i)">
              @if ($first) {
                <td></td>
                <td>{{ 'VIDEO_INFO.FILE' | translate }}</td>
                <td>{{ store.storeFiles()[store.storeIndex()].fileType || 'video/' + store.storeFiles()[store.storeIndex()].fileExtension }}</td>
                <td>{{ stream.bit_rate / 1000 }} kb/s</td>
                <td>{{ stream.duration | duration }} - {{ stream.size | fileSize }}</td>
              } @else {
                <td>{{ stream.index }}</td>
                <td>{{ stream.codec_type | titlecase }}</td>
                <td>{{ stream.codec_name | lowercase }}{{ (!stream.codec_tag_string.startsWith('[') ? '/' + stream.codec_tag_string : '') | lowercase }}</td>
                <td>{{ stream.bit_rate ? stream.bit_rate / 1000 + ' kb/s' : '-' }}</td>
                @switch (stream.codec_type) {
                  @case ('video') { <td>{{ stream.coded_width || stream.width }}x{{ stream.coded_height || stream.height }} {{ '@' }}{{ stream.r_frame_rate | frameRate }}fps</td> }
                  @case ('audio') { <td>{{ stream.channels }} {{ (stream.channels == 1 ? 'VIDEO_INFO.CHANNEL' : 'VIDEO_INFO.CHANNELS') | translate }} {{ stream.channel_layout ? '(' + (stream.channel_layout | titlecase) + ')' : '' }}</td> }
                }
              }
            </tr>
            <!-- Video stream details. -->
            <tr [class]="'info-details'">
              <td [attr.colspan]="'100%'">
                <div
                  [hidden]="i != info.infoExpanded()"
                  rendered
                  (rendered)="info.infoRendered($event, i)">
                  <span [innerHtml]="store.storeVideos()[store.storeIndex()].videoStreamsText[i]"></span>
                </div>
              </td>
            </tr>
          </div>
        }
      </tbody>
    </table>
    <!-- Close dialog. -->
    <button [class]="'info-close'" (click)="info.infoUpdateOpen()">
      <a [style.maskImage]="'url(assets/images/close.svg)'"></a>
    </button>
  </vi-modal>
}