/* Define theme colors. */
[data-theme="light"] :host {
  --close-icon: rgb(14, 18, 22);
  --data-color: rgb(208, 218, 228);
  --data-key: rgb(0, 160, 60);
  --data-value: rgb(0, 90, 240);
  --track-border: rgb(144, 164, 184);
  --track-color: rgb(208, 218, 228);
  --track-hover: rgb(192, 202, 212);
}
[data-theme="dark"] :host {
  --close-icon: rgb(232, 238, 244);
  --data-color: rgb(8, 12, 16);
  --data-key: rgb(34, 198, 94);
  --data-value: rgb(60, 130, 246);
  --track-border: rgb(36, 42, 48);
  --track-color: rgb(18, 24, 30);
  --track-hover: rgb(14, 18, 22);
}
[data-theme="slate"] :host {
  --close-icon: rgb(232, 238, 244);
  --data-color: rgb(14, 16, 26);
  --data-key: rgb(34, 198, 94);
  --data-value: rgb(60, 130, 246);
  --track-border: rgb(60, 66, 84);
  --track-color: rgb(22, 26, 40);
  --track-hover: rgb(18, 22, 36);
}

/* Video file streams. */
.info-streams {
  @apply border-separate ml-auto mr-auto table-fixed;
  border-spacing: 0;
}
.info-streams > thead {
  @apply cursor-default;
}
.info-streams > thead th {
  @apply pb-4 pt-2 px-4;
  border-bottom: 1px solid var(--track-border);
}
.info-streams > thead > tr:last-child {
  @apply h-4;
}

/* Video stream tracks. */
.info-tracks {
  @apply contents;
}
.info-tracks > tr:first-child {
  background-color: var(--track-color);
  cursor: pointer;
  transition: background-color 0.2s;
}
.info-tracks > tr:first-child:hover,
.info-tracks.selected > tr:first-child {
  background-color: var(--track-hover);
}
.info-tracks > tr:first-child td {
  @apply px-6 py-4 text-center;
  border-bottom: 1px solid var(--track-border);
  border-top: 1px solid var(--track-border);
}
.info-tracks > tr:first-child td:first-child {
  border-left: 1px solid var(--track-border);
}
.info-tracks > tr:first-child td:last-child {
  border-right: 1px solid var(--track-border);
}
.info-tracks:not(:first-child) > tr:first-child td {
  border-top: none;
}
.info-tracks:first-child > tr:first-child td:first-child {
  border-top-left-radius: 4px;
}
.info-tracks:first-child > tr:first-child td:last-child {
  border-top-right-radius: 4px;
}
.info-tracks:not(.selected):last-child > tr:first-child td:first-child {
  border-bottom-left-radius: 4px;
}
.info-tracks:not(.selected):last-child > tr:first-child td:last-child {
  border-bottom-right-radius: 4px;
}
.info-tracks:last-child.selected > tr:last-child > td {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.info-tracks:not(.selected) > tr:last-child {
  display: none;
}

/* Video stream details. */
.info-details > td {
  background-color: var(--data-color);
  border: 1px solid var(--track-border);
  border-top: none;
}
.info-details div {
  @apply max-h-[50vh] overflow-auto p-4 rounded-b whitespace-nowrap;
}
.info-details span {
  @apply flex flex-col space-y-1;
}
:host ::ng-deep .info-details span.key {
  margin-right: 8px;
  color: var(--data-key);
}
:host ::ng-deep .info-details span.object {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
:host ::ng-deep .info-details span.value {
  color: var(--data-value);
}

/* Close dialog. */
.info-close {
  position: absolute;
  right: 16px;
  top: 18px;
}
.info-close > a {
  background-color: var(--close-icon);
  display: block;
  height: 36px;
  width: 36px;
}