/* Video clips list. */
:host {
  display: contents;
}
.clips-list {
  @apply bg-dark-1000/80 overflow-hidden relative rounded-sm w-full [&>div]:w-full;
}
.clips-list.loading {
  @apply flex mt-0;
}
.clips-list.segments {
  @apply flex h-8 mt-4;
}

/* Clips container. */
.clips-container {
  @apply absolute border-4 cursor-pointer h-8 opacity-80;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.clips-container.selected {
  @apply cursor-move opacity-90 z-10;
}

/* Clips information. */
.clips-info {
  @apply flex flex-col -mx-px py-1 space-y-2;
}
.clips-info > div {
  @apply flex items-center space-x-2;
}
.clips-info > span {
  @apply bg-zinc-300 h-px opacity-80 w-[calc(100%-8px)];
}
.clips-info input {
  @apply h-7 p-0.5 pl-1 rounded text-dark-800;
  border: solid 1px #ccc;
}
.clips-info input[type="number"] {
  @apply w-[96px];
}
.clips-info input[type="time"] {
  @apply w-[136px];
}
.clips-info input[type="time"]::-webkit-calendar-picker-indicator {
  @apply hover:bg-dark-100 cursor-pointer rounded;
  transition: background-color 0.2s ease-in-out;
}