/* Define theme colors. */
[data-theme="light"] :host {
  --list-color: rgb(192, 202, 212);
}
[data-theme="dark"] :host {
  --list-color: rgb(4, 8, 12);
}

/* Video clips list. */
:host {
  display: contents;
}
.clips-list {
  @apply overflow-hidden relative rounded-sm w-full [&>div]:w-full;
  background-color: var(--list-color);
  transition: background-color 0.2s;
}
.clips-list.loading {
  @apply flex mt-0;
}
.clips-list.segments {
  @apply flex h-8 mt-4;
}

/* Clips container. */
.clips-container {
  @apply absolute border-4 cursor-pointer h-8 opacity-70;
  transition: background-color 0.2s, border-color 0.2s, opacity 0.2s;
}
.clips-container.selected {
  @apply cursor-move opacity-90 z-10;
}

/* Clips information. */
.clips-info {
  @apply flex flex-col -mx-px py-1 space-y-2;
}
.clips-info > div {
  @apply flex items-center space-x-2;
}
.clips-info > div > a {
  display: block;
  height: 24px;
  width: 24px;
}
.clips-info input[type="number"] {
  width: 96px;
}
.clips-info input[type="time"] {
  width: 136px;
}
.clips-info input[type="time"]::-webkit-calendar-picker-indicator {
  @apply cursor-pointer rounded;
}